<span class="u__hover-popup--content" style="left: 0 !important">
    <ul class="u__hover-popup--content--list">
        <li>Kitchen</li>
        <li>Bedroom</li>
        <li>Toilet</li>
        <li>Living Room</li>
    </ul>
</span>