<div class="u__card">
    <div class="u__card--content">
        <div class="u__card--content--image">
            <img src="/img/items/gloves/glove1-b.jpg" alt="">
        </div>
        <div class="u__card--content--hoverimg">
            <img src="/img/items/gloves/glove1-a.jpg" alt="">
        </div>
        <div class="u__hover--compare">
            <div class="u__hover--compare--box">
                <a href="" class="u-sidehover">
                    <i class="lnr lnr-heart"></i>
                    <span class="u-sidehover_box">
                        Add to Wishlist
                    </span>
                </a>
            </div>
            <div class="u__hover--compare--box">
                <a href="" class="u-sidehover">
                    <i class="lnr lnr-sync"></i>
                    <span class="u-sidehover_box">
                        Compare
                    </span>
                </a>
            </div>
        </div>
        <div class="u__hover--cart">
            <a href="">Add to cart</a>
            <a href="/products/product">Quick view</a>
        </div>
    </div>
    <div class="u__card--info">
        <div class="u__card--info--name">
            <span>Comfortable Sofa</span>
        </div>
        <div class="u__card--info--price">
            <span>$450</span>
        </div>
    </div>
</div>