    <!-- Footer -->
    <footer>
        <div class="c__footer">
            <div class="c__footer--main">
                <div class="c__footer--main--widgets  u__responsible-container">
                    <div class="c__footer--main--widgets--widget1">
                        <div class="c__footer--main--widgets--widget1--info">
			    <img class="Sirv" data-src="https://zaanaa.sirv.com/white-logo.png" alt="" />
                            <br>
                            <br>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                            ridiculus mus.
                        </div>
                        <div class="c__footer--main--widgets--widget1--social">
                            <div class="c__footer--main--widgets--widget1--social--icons u__flex-container">
                                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                                <i class="fa fa-youtube" aria-hidden="true"></i>
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="c__footer--main--widgets--widget2">
                        <ul>
                            <li><a>Blogs</a></li>
                            <li><a>Home</li>
                            <li><a>My Account</a></li>
                            <li><a>Contact</a></li>
                            <li><a>Store Location</a></li>
                        </ul>
                    </div>
                    <div class="c__footer--main--widgets--widget3">
                        <ul>
                            <li><a>Shipping</a></li>
                            <li><a>Returns Policy</a></li>
                            <li><a>Terms & Conditions</a></li>
                            <li><a>Order Status</a></li>
                            <li><a>F.A.Qs</a></li>
                        </ul>
                    </div>
                    <div class="c__footer--main--widgets--widget4">
                        <ul>
                            <li><a>Register</a></li>
                            <li><a>Orders</a></li>
                            <li><a>Downloads</a></li>
                            <li><a>Account details</a></li>
                            <li><a>Checkout</a></li>
                        </ul>
                    </div>
                    <div class="c__footer--main--widgets--widget5">
                        <form action="#">
                            <h3>Join Our Newsletter</h3>
                            <p>Register now to get updates on promotions and coupons.</p>
                            <div class="u__emailform">
                                <input type="text" placeholder="Enter Your Email">
                                <div class="u__emailform--button">
                                    Subscribe
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="c__footer--copyright">
                <div class="u__responsible-container c__footer--copyright--info">
                    <p>© Zaanaa LLC 2020. All rights reserved</p>
                </div>
            </div>
        </div>
    </footer>


    <!-- SIRV RESPONSIVE -->
    <script src="https://scripts.sirv.com/sirv.js"></script>

    <!-- Javascript -->
    <script src="/js/script.js"></script>

    <%- jsScripts %>

</body>

</html>
