<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Styles -->
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    
    <link rel="stylesheet" href="/css/main.css"/>


    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">


    <!-- Icons -->
    <!-- Font Awesome 4.7 -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script defer src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script>

    <!-- Google Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Font -->
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">




    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


    <!-- Title -->
    <title>Zaanaa Store</title>

    <%- link %>

</head>

<body>

    <!-- Header -->
    <header>
        <div class="c__header--computer">

            <!-- Contact info / Social links -->
            <div class="c__header--top">
                <div class="u__flex-container u__responsible-container">
                    <div class="c__header--top--contact">
                        <span>
                            Mail Us: info@example.com | Call us: +976 99119911
                        </span>
                    </div>
                    <div class="u__flex-container">
                        <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        <i class="fa fa-youtube" aria-hidden="true"></i>
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </div>
                </div>
            </div>

            <!-- Logo / Seach / Log In / Browse / Tabs / Cart -->
            <div class="c__header--bot">
                <div class="u__responsible-container">

                    <!-- Logo / Search -->
                    <div class="c__header--bot--top u__flex-container">

                        <!-- Logo -->
                        <div class="c__header--bot--top--logo">
			    <img class="Sirv" data-src="https://zaanaa.sirv.com/logo.png" alt="Company Logo" />
                        </div>

                        <!-- Search -->
                        <form action="" method="get" role="search">
                            <div class="u__search">
                                <div class="u__search--categories">
                                    <span><a class="u__tabs--dropdown">All Categories</a></span>
                                </div>
                                <div class="u__search--type">
                                    <input type="text" placeholder="Search">
                                    <button>
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </form>

                        <!-- Log In -->
                        <div class="c__header--bot--top--login u__flex-container">
                            <div class="c__header--bot--top--login--icon u__notif-container">
                                <i class="lnr lnr-user u__hover-popup">
                                    <span class="u__hover-popup--content"><a href="/login" >Login / Signup</a></span>
                                </i>
                            </div>
                            <div class="c__header--bot--top--login--icon u__notif-container">
                                <i class="lnr lnr-heart u__hover-popup">
                                    <span class="u__hover-popup--content"><a>No products in the wishlist</a></span>
                                </i>
                                <span class="u__notif-counter">0</span>
                            </div>
                            <div class="c__header--bot--top--login--icon u__notif-container">
                                <i class="lnr lnr-sync u__hover-popup">
                                    <span class="u__hover-popup--content"><a>My Compare</a></span>
                                </i>
                                <span class="u__notif-counter">0</span>
                            </div>
                        </div>
                    </div>

                    <!-- Browse / Tabs / Cart -->
                    <div class="c__header--bot--menu u__flex-container">

                        <!-- Browse -->
                        <div class="c__header--bot--menu--browse u__hover-popup">
                            <i class="lnr lnr-menu"></i>
                            <span>Browse Categories</span>
                            <span class="u__hover-popup--dropdown" style="left: 0 !important">
                                <ul class="u__hover-popup--dropdown--list">
                                    <li>
                                        <a>
                                            Kitchen
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            Bedroom
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            Toilet
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            Living
                                        </a>
                                    </li>
                                </ul>
                            </span>
                        </div>

                        <!-- Tabs -->
                        <div class="c__header--bot--menu--tabs u__flex-container">
                            <ul>
                                <li>
                                    <a href="/" class="u__tabs--dropdown u__hover-popup">
                                        Home
                                        <span class="u__hover-popup--content" style="left: 0 !important">
                                            <ul class="u__hover-popup--content--list">
                                                <li>Kitchen</li>
                                                <li>Bedroom</li>
                                                <li>Toilet</li>
                                                <li>Living Room</li>
                                            </ul>
                                        </span>
                                    </a>
                                </li>
                                <li><a href="/products">Shop</a></li>
                                <li><a href="/products">Interior</a></li>
                                <li><a href="/products">Furniture</a></li>
                                <li><a href="/products">Living</a></li>
                                <li><a>Blogs</a></li>
                                <li><a href="/contact">Contact</a></li>
                            </ul>
                        </div>

                        <!-- Cart -->
                        <div class="c__header--bot--menu--cart u__hover-popup">

                            <!-- Cart icon -->
                            <div class="c__header--bot--menu--cart--icon">
                                <div class="u__notif-container">
                                    <i class="lnr lnr-cart"></i>
                                    <span class="u__notif-counter">0</span>
                                </div>
                            </div>

                            <!-- Cart Amount -->
                            <div class="c__header--bot--menu--cart--amount">
                                <div class="c__header--bot--menu--cart--amount--tag">
                                    <span>My Cart</span>
                                </div>
                                <div class="c__header--bot--menu--cart--amount--value">
                                    <span>$0.00</span>
                                </div>
                            </div>
                            <span class="u__hover-popup--content" style="display: none">Your cart is empty.</span>
                            <span class="u__hover-popup--content u-overflowy_scroll">
                                <div class="u__hover-popup--content--cart">
                                    <ul>
                                        <li>
                                            <a href="/">
                                                <img src="/img/items/gloves/glove1-a.jpg" alt="Product">
                                            </a>
                                            <div class="u__hover-popup--content--cart--content">
                                                <h4>Gloves</h4>
                                                <span>
                                                    1 x
                                                    <div class="u__hover-popup--content--cart--content--price">
                                                        $250
                                                    </div>
                                                </span>
                                                <a href="">
                                                    <i class="lnr lnr-cross"></i>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <a href="/">
                                                <img src="/img/items/gloves/glove1-a.jpg" alt="Product">
                                            </a>
                                            <div class="u__hover-popup--content--cart--content">
                                                <h4>Gloves</h4>
                                                <span>
                                                    1 x
                                                    <div class="u__hover-popup--content--cart--content--price">
                                                        $250
                                                    </div>
                                                </span>
                                                <a href="">
                                                    <i class="lnr lnr-cross"></i>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <a href="/">
                                                <img src="/img/items/gloves/glove1-a.jpg" alt="Product">
                                            </a>
                                            <div class="u__hover-popup--content--cart--content ">
                                                <h4>Gloves</h4>
                                                <span>
                                                    1 x
                                                    <div class="u__hover-popup--content--cart--content--price">
                                                        $250
                                                    </div>
                                                </span>
                                                <a href="">
                                                    <i class="lnr lnr-cross"></i>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="u__hover-popup--content--cart--subtotal">
                                        Subtotal: 
                                        <div class="u__hover-popup--content--cart--subtotal_amount">
                                            $1240
                                        </div>
                                    </div>
                                    <div class="u__hover-popup--content--cart--buttons">
                                        <a href="" class="view-button">View cart</a>
                                        <a href="" class="checkout-button">Checkout</a>
                                    </div>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="c__header--mobile">

            <!-- Mobile Header -->
            <div class="c__header--mobile--wrapper u__flex-container">
                <div id="mobile-toggle" class="c__header--mobile--wrapper--tabs">
                    <i class="lnr lnr-menu"></i>
                </div>
                <div class="c__header--mobile--wrapper--logo">
                    <a href="#"><img class="Sirv" data-src="https://zaanaa.sirv.com/logo.png" alt="Company Logo" /></a>
                </div>
                <div class="c__header--mobile--wrapper--cart">
                    <div class="u__notif-container">
                        <i class="lnr lnr-cart"></i>
                        <span class="u__notif-counter">0</span>
                    </div>
                </div>
            </div>


            <!-- Mobile click navigation -->
            <div class="c__header--mobile--nav">
                <div id="mobile-nav" class="c__header--mobile--nav--tab">

                    <!-- Nav Logo -->
                    <div class="c__header--mobile--nav--tab--top">
                        <img src="/img/zigcy-furni.png" alt="Company Logo">
                        <i id="mobile-remove" class="lnr lnr-cross"></i>
                    </div>

                    <!-- Nav Search -->
                    <div class="c__header--mobile--nav--tab--search">
                        <form action="#" class="u__mobile--search" method="get">
                            <input type="text" class="u__mobile--search--input" placeholder="Search...">
                            <div class="u__mobile--search--button">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </div>
                        </form>
                    </div>

                    <!-- Nav list -->
                    <div class="c__header--mobile--nav--tab--list">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/products">Shop</a></li>
                            <li><a href="/products">Interior</a></li>
                            <li><a href="/products">Furniture</a></li>
                            <li><a href="/products">Living</a></li>
                            <li>Blogs</li>
                            <li><a href="/contact">Contact</a></li>
                        </ul>
                    </div>
                    <!-- Nav Share -->
                    <div class="u__flex-container">
                        <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        <i class="fa fa-youtube" aria-hidden="true"></i>
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </header>
