<%- include('_header', {
    link : ``
    }); %>

    <!-- Page Header -->
    <div class="c-pageheader">
        <div class="u__responsible-container">
            <div class="c-pageheader__title">
                <h1><%= title.charAt(0).toUpperCase() + title.slice(1) %></h1>
            </div>
            <div class="c-pageheader__trail">
                <span>Products</span>
            </div>
        </div>
    </div>
    
    <!-- Content -->
    <div class="u__responsible-container">
        <div class="c-content">
            <div class="c-content__primary">
                <div class="c-content__primary--header">
                    <span>There are 16 products</span>
                    <form action="" method="get">
                        <select name="orderby" id="#" class="u-orderby">
                            <option value="menu_order" selected="selected">Default sorting</option>
                            <option value="popularity">Sort by popularity</option>
                            <option value="rating">Sort by average rating</option>
                            <option value="date">Sort by latest</option>
                            <option value="price">Sort by price: low to high</option>
                            <option value="price_desc">Sort by price: high to low</option>
                        </select>
                    </form>
                </div>
                <ul class="c-content__primary--products">
		  <% for(let i = 0 ; i < 12 ; i++) { %>
                    <li>
                        <div class="u__card">
                            <div class="u__card--content">
                                <div class="u__card--content--image">
                                    <img src="/img/items/gloves/glove1-b.jpg" alt="">
                                </div>
                                <div class="u__card--content--hoverimg">
                                    <img src="/img/items/gloves/glove1-a.jpg" alt="">
                                </div>
                                <div class="u__hover--compare">
                                    <div class="u__hover--compare--box">
                                        <i class="lnr lnr-heart"></i>
                                    </div>
                                    <div class="u__hover--compare--box">
                                        <i class="lnr lnr-sync"></i>
                                    </div>
                                </div>
                                <div class="u__hover--cart">
                                    <a href="">Add to cart</a>
                                    <a href="/products/product">Quick view</a>
                                </div>
                            </div>
                            <div class="u__card--info">
                                <div class="u__card--info--name">
                                    <span>Comfortable Sofa</span>
                                </div>
                                <div class="u__card--info--price">
                                    <span>$450</span>
                                </div>
                            </div>
                        </div>
                    </li>
		  <% } %>
                </ul>
                <div class="c-content__primary--pagination">
                    <p>Showing 1-16 of 34 results</p>
                    <nav class="u-nav">
                        <ul>
			  <% for(let i = 1 ; i <= 5 ; i++) { %>
                            <li>
                                <a href="/" class="u-nav_current">
				  <%= i %>
                                </a>
                            </li>
			  <% } %>
                            <li>
                                <a href="/">
                                    >
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="c-content__secondary">
                <div class="c-content__secondary--search">
                    <form action="#" class="u__mobile--search" method="get">
                        <input type="text" class="u__mobile--search--input" placeholder="Search products...">  
                        <div class="u__mobile--search--button">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </div>
                    </form>
                </div>
                <div class="c-content__secondary--products">
                    <h2>Products</h2>
                    <ul>
		      <% for(let i = 0 ; i < 6 ; i++) { %>
                        <li>
                            <a href="/products/product" class="u-smallitem">
                                <img src="/img/items/gloves/glove1-a.jpg" alt="Product">
                                <span class="u-smallitem__title">Burgandi Fruit</span>
                                <span class="u-smallitem__amount">$236.00</span>
                            </a>
                        </li>
			<% } %>
                    </ul>
                </div>
            </div>
        </div>
    </div>



    <%- include('_footer', {
      jsScripts : ``
    }); %>
