<%- include('_header', { link : '' }); %>


    <!-- Page Header -->
    <div class="c-pageheader">
        <div class="u__responsible-container">
            <div class="c-pageheader__title">
                <h1>Contact</h1>
            </div>
        </div>
    </div>

    <!-- Content -->
    <div class="u__responsible-container">
        <div class="c-content">
            <div class="c-content__contact">
                <div class="c-content__contact--left">
                    <h3>Get In Touch!</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione nulla officiis consequuntur? Et, deserunt animi necessitatibus a rem repudiandae asperiores beatae dolor dolorum facilis saepe labore, voluptas ullam perspiciatis nobis?</p>
                    <p>
                        <strong>DETAILS</strong><br>
                        3 Wakehurst Street New York, NY 10002<br>
                        +1-202-555-0133<br>
                        support@accesspressthemes.com<br>
                    </p>
                    <p>
                        <strong>OPENING HOURS</strong><br>
                        Monday – Friday 09:00 – 23:00<br>
                        Saturday 09:00 – 22:00<br>
                        Sunday 12:00 – 18:00<br>
                    </p>
                </div>
                <div class="c-content__contact--right">
                    <input class="c-content__contact--right--half" type="text" name="" id="" placeholder="Your Name">
                    <input class="c-content__contact--right--half" type="text" name="" id="" placeholder="E-mail">
                    <input class="c-content__contact--right--full" type="text" name="" id="" placeholder="Subject">
                    <textarea class="c-content__contact--right--full" name="" id="" cols="30" rows="10" placeholder="Message"></textarea>
                    <button>Send</button>
                </div>
            </div>  
        </div>
    </div>

<%- include('_footer', { jsScripts : ''} ); %>
