<%- include('_header', {
    link : `<script src='https://unpkg.com/swiper/js/swiper.min.js'></script>`
    }); %>

    <!-- Image Slider -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
		<img class="Sirv" src="https://zaanaa.sirv.com/Slider%20Images/slider-1.jpg" alt="slider-image-1" />
                <div class="u__responsible-container swiper-content">
                    <div class="slider-information">
                        <h6>Zaanaa togloom</h6>
                        <h3>Discover Playground Toys from Zaanaa Store</h3>
                        <h4>Explore more Toys</h4>
                        <a href="/">
                            <button>
                                Shop now
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="https://zaanaa.sirv.com/Slider%20Images/slider-2.jpg" alt="slider-image-2">
                <div class="u__responsible-container swiper-content">
                    <div class="slider-information">
                        <h6>Zaanaa togloom</h6>
                        <h3>Kids Friendly Vehicles on Sale!</h3>
                        <h4>Order rom Erlian now!</h4>
                        <a href="/">
                            <button>
                                Shop now
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <img class="Sirv" src="https://zaanaa.sirv.com/Slider%20Images/slider-3.jpg" alt="slider-image-3">
                <div class="u__responsible-container swiper-content">
                    <div class="slider-information">
                        <h6>Zaanaa togloom</h6>
                        <h3>Discover Different Design of Kids Furniture</h3>
                        <h4>Simple and elegant</h4>
                        <a href="/">
                            <button>
                                Shop now
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <img class="Sirv" src="https://zaanaa.sirv.com/Slider%20Images/slider-4.jpg" alt="slider-image-4">
                <div class="u__responsible-container swiper-content">
                    <div class="slider-information">
                        <h6>Zaanaa togloom</h6>
                        <h3>Contact Us Now to Order Fast</h3>
                        <h4>Fast delivery and cheap price</h4>
                        <a href="/">
                            <button>
                                Shop now
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>








    <div class="c-featured u__responsible-container">
        <div class="c-featured__title">
            <h6>WOODEN ACCESSORIES</h6>
            <h3>Featured Products</h3>
        </div>
        <div class="c-featured__items">
	  
	  <% for(let i=0; i < 8; i++) { %>
            <div class="c-featured__items--item">
                <div class="u__card">
                    <div class="u__card--content">
                        <div class="u__card--content--image">
                            <img src="/img/items/gloves/glove1-b.jpg" alt="">
                        </div>
                        <div class="u__card--content--hoverimg">
                            <img src="/img/items/gloves/glove1-a.jpg" alt="">
                        </div>
                        <div class="u__hover--compare">
                            <div class="u__hover--compare--box">
                                <a href="" class="u-sidehover">
                                    <i class="lnr lnr-heart"></i>
                                    <span class="u-sidehover_box">
                                        Add to Wishlist
                                    </span>
                                </a>
                            </div>
                            <div class="u__hover--compare--box">
                                <a href="" class="u-sidehover">
                                    <i class="lnr lnr-sync"></i>
                                    <span class="u-sidehover_box">
                                        Compare
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="u__hover--cart">
                            <a href="">Add to cart</a>
                            <a href="/products/product">Quick view</a>
                        </div>
                    </div>
                    <div class="u__card--info">
                        <div class="u__card--info--name">
                            <span>Comfortable Sofa</span>
                        </div>
                        <div class="u__card--info--price">
                            <span>$450</span>
                        </div>
                    </div>
                </div>
            </div>

	    <% } %>

        </div>
    </div>




    <div class="c-featured u__responsible-container">
        <div class="c-featured__title">
            <h6>WOODEN ACCESSORIES</h6>
            <h3>Featured Products</h3>
        </div>
        <div class="c-featured__items">
            <div class="c-featured__items--item2">
                <div class="c-featured__items--item2_big">
                    <div class="u__card">
                        <div class="u__card--content">
                            <div class="u__card--content--image">
                                <img src="/img/items/gloves/glove1-b.jpg" alt="">
                            </div>
                            <div class="u__card--content--hoverimg">
                                <img src="/img/items/gloves/glove1-a.jpg" alt="">
                            </div>
                            <div class="u__hover--compare">
                                <div class="u__hover--compare--box">
                                    <a href="" class="u-sidehover">
                                        <i class="lnr lnr-heart"></i>
                                        <span class="u-sidehover_box">
                                            Add to Wishlist
                                        </span>
                                    </a>
                                </div>
                                <div class="u__hover--compare--box">
                                    <a href="" class="u-sidehover">
                                        <i class="lnr lnr-sync"></i>
                                        <span class="u-sidehover_box">
                                            Compare
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="u__hover--cart">
                                <a href="">Add to cart</a>
                                <a href="/products/product">Quick view</a>
                            </div>
                        </div>
                        <div class="u__card--info">
                            <div class="u__card--info--name">
                                <span>Comfortable Sofa</span>
                            </div>
                            <div class="u__card--info--price">
                                <span>$450</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="c-featured__items--item2">
                <div class="c-featured__items--item2_small">
                    <div class="c-featured__items--item2_small--cell">
                        <div class="u__card">
                            <div class="u__card--content">
                                <div class="u__card--content--image">
                                    <img src="/img/items/gloves/glove1-b.jpg" alt="">
                                </div>
                                <div class="u__card--content--hoverimg">
                                    <img src="/img/items/gloves/glove1-a.jpg" alt="">
                                </div>
                                <div class="u__hover--compare">
                                    <div class="u__hover--compare--box">
                                        <a href="" class="u-sidehover">
                                            <i class="lnr lnr-heart"></i>
                                            <span class="u-sidehover_box">
                                                Add to Wishlist
                                            </span>
                                        </a>
                                    </div>
                                    <div class="u__hover--compare--box">
                                        <a href="" class="u-sidehover">
                                            <i class="lnr lnr-sync"></i>
                                            <span class="u-sidehover_box">
                                                Compare
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="u__hover--cart">
                                    <a href="">Add to cart</a>
                                    <a href="/products/product">Quick view</a>
                                </div>
                            </div>
                            <div class="u__card--info">
                                <div class="u__card--info--name">
                                    <span>Comfortable Sofa</span>
                                </div>
                                <div class="u__card--info--price">
                                    <span>$450</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-featured__items--item2_small">
                    <div class="c-featured__items--item2_small--cell">
                        <div class="u__card">
                            <div class="u__card--content">
                                <div class="u__card--content--image">
                                    <img src="/img/items/gloves/glove1-b.jpg" alt="">
                                </div>
                                <div class="u__card--content--hoverimg">
                                    <img src="/img/items/gloves/glove1-a.jpg" alt="">
                                </div>
                                <div class="u__hover--compare">
                                    <div class="u__hover--compare--box">
                                        <a href="" class="u-sidehover">
                                            <i class="lnr lnr-heart"></i>
                                            <span class="u-sidehover_box">
                                                Add to Wishlist
                                            </span>
                                        </a>
                                    </div>
                                    <div class="u__hover--compare--box">
                                        <a href="" class="u-sidehover">
                                            <i class="lnr lnr-sync"></i>
                                            <span class="u-sidehover_box">
                                                Compare
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="u__hover--cart">
                                    <a href="">Add to cart</a>
                                    <a href="/products/product">Quick view</a>
                                </div>
                            </div>
                            <div class="u__card--info">
                                <div class="u__card--info--name">
                                    <span>Comfortable Sofa</span>
                                </div>
                                <div class="u__card--info--price">
                                    <span>$450</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-featured__items--item2_small">
                    <div class="c-featured__items--item2_small--cell">
                        <div class="u__card">
                            <div class="u__card--content">
                                <div class="u__card--content--image">
                                    <img src="/img/items/gloves/glove1-b.jpg" alt="">
                                </div>
                                <div class="u__card--content--hoverimg">
                                    <img src="/img/items/gloves/glove1-a.jpg" alt="">
                                </div>
                                <div class="u__hover--compare">
                                    <div class="u__hover--compare--box">
                                        <a href="" class="u-sidehover">
                                            <i class="lnr lnr-heart"></i>
                                            <span class="u-sidehover_box">
                                                Add to Wishlist
                                            </span>
                                        </a>
                                    </div>
                                    <div class="u__hover--compare--box">
                                        <a href="" class="u-sidehover">
                                            <i class="lnr lnr-sync"></i>
                                            <span class="u-sidehover_box">
                                                Compare
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="u__hover--cart">
                                    <a href="">Add to cart</a>
                                    <a href="/products/product">Quick view</a>
                                </div>
                            </div>
                            <div class="u__card--info">
                                <div class="u__card--info--name">
                                    <span>Comfortable Sofa</span>
                                </div>
                                <div class="u__card--info--price">
                                    <span>$450</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-featured__items--item2_small">
                    <div class="c-featured__items--item2_small--cell">
                        <div class="u__card">
                            <div class="u__card--content">
                                <div class="u__card--content--image">
                                    <img src="/img/items/gloves/glove1-b.jpg" alt="">
                                </div>
                                <div class="u__card--content--hoverimg">
                                    <img src="/img/items/gloves/glove1-a.jpg" alt="">
                                </div>
                                <div class="u__hover--compare">
                                    <div class="u__hover--compare--box">
                                        <a href="" class="u-sidehover">
                                            <i class="lnr lnr-heart"></i>
                                            <span class="u-sidehover_box">
                                                Add to Wishlist
                                            </span>
                                        </a>
                                    </div>
                                    <div class="u__hover--compare--box">
                                        <a href="" class="u-sidehover">
                                            <i class="lnr lnr-sync"></i>
                                            <span class="u-sidehover_box">
                                                Compare
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="u__hover--cart">
                                    <a href="">Add to cart</a>
                                    <a href="/products/product">Quick view</a>
                                </div>
                            </div>
                            <div class="u__card--info">
                                <div class="u__card--info--name">
                                    <span>Comfortable Sofa</span>
                                </div>
                                <div class="u__card--info--price">
                                    <span>$450</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-featured__items">
            <div class="c-featured__items--item2">
                <div class="c-featured__items--item2_small">
                    <div class="c-featured__items--item2_small--cell2">
                        <div class="u__card">
                            <div class="u__card--content">
                                <div class="u__card--content--image">
                                    <img src="/img/items/gloves/glove1-b.jpg" alt="">
                                </div>
                                <div class="u__card--content--hoverimg">
                                    <img src="/img/items/gloves/glove1-a.jpg" alt="">
                                </div>
                                <div class="u__hover--compare">
                                    <div class="u__hover--compare--box">
                                        <a href="" class="u-sidehover">
                                            <i class="lnr lnr-heart"></i>
                                            <span class="u-sidehover_box">
                                                Add to Wishlist
                                            </span>
                                        </a>
                                    </div>
                                    <div class="u__hover--compare--box">
                                        <a href="" class="u-sidehover">
                                            <i class="lnr lnr-sync"></i>
                                            <span class="u-sidehover_box">
                                                Compare
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="u__hover--cart">
                                    <a href="">Add to cart</a>
                                    <a href="/products/product">Quick view</a>
                                </div>
                            </div>
                            <div class="u__card--info">
                                <div class="u__card--info--name">
                                    <span>Comfortable Sofa</span>
                                </div>
                                <div class="u__card--info--price">
                                    <span>$450</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-featured__items--item2_small">
                    <div class="c-featured__items--item2_small--cell2">
                        <div class="u__card">
                            <div class="u__card--content">
                                <div class="u__card--content--image">
                                    <img src="/img/items/gloves/glove1-b.jpg" alt="">
                                </div>
                                <div class="u__card--content--hoverimg">
                                    <img src="/img/items/gloves/glove1-a.jpg" alt="">
                                </div>
                                <div class="u__hover--compare">
                                    <div class="u__hover--compare--box">
                                        <a href="" class="u-sidehover">
                                            <i class="lnr lnr-heart"></i>
                                            <span class="u-sidehover_box">
                                                Add to Wishlist
                                            </span>
                                        </a>
                                    </div>
                                    <div class="u__hover--compare--box">
                                        <a href="" class="u-sidehover">
                                            <i class="lnr lnr-sync"></i>
                                            <span class="u-sidehover_box">
                                                Compare
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="u__hover--cart">
                                    <a href="">Add to cart</a>
                                    <a href="/products/product">Quick view</a>
                                </div>
                            </div>
                            <div class="u__card--info">
                                <div class="u__card--info--name">
                                    <span>Comfortable Sofa</span>
                                </div>
                                <div class="u__card--info--price">
                                    <span>$450</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-featured__items--item2_small">
                    <div class="c-featured__items--item2_small--cell2">
                        <div class="u__card">
                            <div class="u__card--content">
                                <div class="u__card--content--image">
                                    <img src="/img/items/gloves/glove1-b.jpg" alt="">
                                </div>
                                <div class="u__card--content--hoverimg">
                                    <img src="/img/items/gloves/glove1-a.jpg" alt="">
                                </div>
                                <div class="u__hover--compare">
                                    <div class="u__hover--compare--box">
                                        <a href="" class="u-sidehover">
                                            <i class="lnr lnr-heart"></i>
                                            <span class="u-sidehover_box">
                                                Add to Wishlist
                                            </span>
                                        </a>
                                    </div>
                                    <div class="u__hover--compare--box">
                                        <a href="" class="u-sidehover">
                                            <i class="lnr lnr-sync"></i>
                                            <span class="u-sidehover_box">
                                                Compare
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="u__hover--cart">
                                    <a href="">Add to cart</a>
                                    <a href="/products/product">Quick view</a>
                                </div>
                            </div>
                            <div class="u__card--info">
                                <div class="u__card--info--name">
                                    <span>Comfortable Sofa</span>
                                </div>
                                <div class="u__card--info--price">
                                    <span>$450</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-featured__items--item2_small">
                    <div class="c-featured__items--item2_small--cell2">
                        <div class="u__card">
                            <div class="u__card--content">
                                <div class="u__card--content--image">
                                    <img src="/img/items/gloves/glove1-b.jpg" alt="">
                                </div>
                                <div class="u__card--content--hoverimg">
                                    <img src="/img/items/gloves/glove1-a.jpg" alt="">
                                </div>
                                <div class="u__hover--compare">
                                    <div class="u__hover--compare--box">
                                        <a href="" class="u-sidehover">
                                            <i class="lnr lnr-heart"></i>
                                            <span class="u-sidehover_box">
                                                Add to Wishlist
                                            </span>
                                        </a>
                                    </div>
                                    <div class="u__hover--compare--box">
                                        <a href="" class="u-sidehover">
                                            <i class="lnr lnr-sync"></i>
                                            <span class="u-sidehover_box">
                                                Compare
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="u__hover--cart">
                                    <a href="">Add to cart</a>
                                    <a href="/products/product">Quick view</a>
                                </div>
                            </div>
                            <div class="u__card--info">
                                <div class="u__card--info--name">
                                    <span>Comfortable Sofa</span>
                                </div>
                                <div class="u__card--info--price">
                                    <span>$450</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="c-featured__items--item2">
                <div class="c-featured__items--item2_big">
                    <div class="u__card">
                        <div class="u__card--content">
                            <div class="u__card--content--image">
                                <img src="/img/items/gloves/glove1-b.jpg" alt="">
                            </div>
                            <div class="u__card--content--hoverimg">
                                <img src="/img/items/gloves/glove1-a.jpg" alt="">
                            </div>
                            <div class="u__hover--compare">
                                <div class="u__hover--compare--box">
                                    <a href="" class="u-sidehover">
                                        <i class="lnr lnr-heart"></i>
                                        <span class="u-sidehover_box">
                                            Add to Wishlist
                                        </span>
                                    </a>
                                </div>
                                <div class="u__hover--compare--box">
                                    <a href="" class="u-sidehover">
                                        <i class="lnr lnr-sync"></i>
                                        <span class="u-sidehover_box">
                                            Compare
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="u__hover--cart">
                                <a href="">Add to cart</a>
                                <a href="/products/product">Quick view</a>
                            </div>
                        </div>
                        <div class="u__card--info">
                            <div class="u__card--info--name">
                                <span>Comfortable Sofa</span>
                            </div>
                            <div class="u__card--info--price">
                                <span>$450</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <%- include('_footer', {
      jsScripts : `
	  <script src='https://unpkg.com/swiper/js/swiper.min.js'></script>	


	  <!-- Swiper JS -->
	  <script>
	      var swiper = new Swiper('.swiper-container', {
		  slidesPerView: 1,
		  spaceBetween: 30,
		  loop: true,
		  pagination: {
		      el: '.swiper-pagination',
		      clickable: true,
		  },
		  navigation: {
		      nextEl: '.swiper-button-next',
		      prevEl: '.swiper-button-prev',
		  },
	      });
	  </script>
	        `
    }); %>

