<%- include('_header', {
    link : ``
    }); %>

    <!-- Page Header -->
    <div class="c-pageheader">
        <div class="u__responsible-container">
            <div class="c-pageheader__title">
                <h1>My account</h1>
            </div>
        </div>
    </div>


        <!-- Content -->
    <div class="u__responsible-container">
        <div class="c-content u__flex-container2">
            <div class="u-login">
                <h2>Login</h2>
                <form action="" id="login">
                    <div class="u-login__input">
                        <label for="username">
                            Username or email address
                            <span>
                                *
                            </span>
                        </label>
                        <input type="text" id="username">
                    </div>
                    <div class="u-login__input">
                        <label for="password">
                            Password
                            <span>
                                *
                            </span>
                        </label>
                        <input type="text" id="password">
                    </div>
                    <button>Log In</button>
                    <a href="">Lost your password?</a>
                </form>
                <form action="" id="loginbyodko">
                    
                </form>
            </div>
        </div>
    </div>


<%- include('_footer', {
  jsScripts : ``
}); %>
