<%- include('_header', {
    link : ``
    }); %>

    <!-- Page Header -->
    <div class="c-pageheader">
        <div class="u__responsible-container">
            <div class="c-pageheader__title">
                <h1>My account</h1>
            </div>
        </div>
    </div>


        <!-- Content -->
    <div class="u__responsible-container">
        <div class="c-content u__flex-container2">
            <div class="u-login">
                <h2>Login</h2>
		<% if(success_msg != '') { %>
		  <div>
		    <p><%= success_msg %></p>
		  </div>
		<%} %>
		<% if(error_msg != '') { %>
		  <div>
		    <p><%= error_msg %></p>
		  </div>
		<%} %>
                <form action="" method="post" id="login">
                    <div class="u-login__input">
                        <label for="username">
                            Email address
                            <span>
                                *
                            </span>
                        </label>
                        <input type="text" name="email" id="username">
                    </div>
                    <div class="u-login__input">
                        <label for="password">
                            Password
                            <span>
                                *
                            </span>
                        </label>
                        <input type="password" name="password" id="password">
                    </div>
                    <button type="submit">Log In</button>
                    <a href="">Lost your password?</a>
                </form>
            </div>
        </div>
    </div>


<%- include('_footer', {
  jsScripts : ``
}); %>
