<%- include('_header', { link : '' }); %>


    <!-- Page Header -->
    <div class="c-pageheader">
        <div class="u__responsible-container">
            <div class="c-pageheader__title">
                <h1>Contact</h1>
            </div>
        </div>
    </div>

    <!-- Content -->
    <div class="u__responsible-container">
        <div class="c-content">
            
        </div>
    </div>

<%- include('_footer', { jsScripts : ''} ); %>
