<%- include('_header', {
    link : ``
    }); %>

    <!-- Page Header -->
    <div class="c-pageheader">
        <div class="u__responsible-container">
            <div class="c-pageheader__title">
                <h1>My Account</h1>
            </div>
        </div>
    </div>


        <!-- Content -->
    <div class="u__responsible-container">
        <div class="c-content u__flex-container2">
            <div class="u-login">
                <h2>Sign Up</h2>
                <form action="" id="signup">
                    <div class="u-login__input">
                        <label for="username">
                            Username or email address
                            <span>
                                *
                            </span>
                        </label>
                        <input type="text" id="username">
                    </div>
                    <div class="u-login__input">
                        <label for="password">
                            Password
                            <span>
                                *
                            </span>
                        </label>
                        <input type="text" id="password">
                    </div>
                    <div class="u-login__input">
                        <label for="confirm password">
                            Confirm Password
                            <span>
                                *
                            </span>
                        </label>
                        <input type="text" id="MiniiOdkoEniigShaachnoo">
                    </div>
                    <div class="u-login__input">
                        <label for="number">
                            Phone
                            <span>
                                
                            </span>
                        </label>
                        <input type="text" id="MiniiOdkoEniigShaachnoo">
                    </div>
                    <div class="u-login__input">
                        <label for="state">
                            State
                            <span>
                                *
                            </span>
                        </label>
                        <input type="text" id="state">
                    </div>
                    <button>Sign Up</button>
                </form>
            </div>
        </div>
    </div>

<%- include('_footer', {
  jsScripts : ``
}); %>
