<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Styles -->
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="utilities.css">
    <link rel="stylesheet" href="external.css">
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link rel="stylesheet" href="/swiper-5.3.7/package/css/swiper.min.css">



    <!-- Icons -->
        <!-- Font Awesome 4.7 -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script defer src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script>

        <!-- Google Icons -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">




        <!-- JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        

    <!-- Title -->
    <title>Zaanaa Store</title>

</head>


    <!-- Header -->
    <header>
        <div class="c__header--computer">

            <!-- Contact info / Social links -->
            <div class="c__header--top">
                <div class="u__flex-container u__responsible-container">
                    <div class="c__header--top--contact">
                        <span>
                            Mail Us: info@example.com | Call us: +976 99119911
                        </span>
                    </div>
                    <div class="u__flex-container">
                        <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        <i class="fa fa-youtube" aria-hidden="true"></i>
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </div>
                </div>
            </div>

            <!-- Logo / Seach / Log In / Browse / Tabs / Cart -->
            <div class="c__header--bot">
                <div class="u__responsible-container">

                    <!-- Logo / Search -->
                    <div class="c__header--bot--top u__flex-container">

                        <!-- Logo -->
                        <div class="c__header--bot--top--logo">
                            <img src="/img/zigcy-furni.png" alt="Company Logo">
                        </div>

                        <!-- Search -->
                        <form action="" method="get" role="search">
                            <div class="u__search">
                                <div class="u__search--categories">
                                    <span><a class="u__tabs--dropdown">All Categories</a></span>
                                </div>
                                <div class="u__search--type">
                                    <input type="text" placeholder="Search">
                                    <button>
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </button>
                                </div>                        
                            </div>
                        </form>

                        <!-- Log In -->
                        <div class="c__header--bot--top--login u__flex-container">
                            <div class="c__header--bot--top--login--icon u__notif-container">
                                <i class="lnr lnr-user u__hover-popup">
                                    <span class="u__hover-popup--content"><a>Login / Signup</a></span>
                                </i>
                            </div>
                            <div class="c__header--bot--top--login--icon u__notif-container">
                                <i class="lnr lnr-heart u__hover-popup">
                                    <span class="u__hover-popup--content"><a>No products in the wishlist</a></span>
                                </i>
                                <span class="u__notif-counter">0</span>
                            </div>
                            <div class="c__header--bot--top--login--icon u__notif-container">
                                <i class="lnr lnr-sync u__hover-popup">
                                    <span class="u__hover-popup--content"><a>My Compare</a></span>
                                </i>
                                <span class="u__notif-counter">0</span>
                            </div>
                        </div>
                    </div>

                    <!-- Browse / Tabs / Cart -->
                    <div class="c__header--bot--menu u__flex-container">

                        <!-- Browse -->
                        <div class="c__header--bot--menu--browse u__hover-popup">
                            <i class="lnr lnr-menu"></i>                       
                            <span>Browse Categories</span>
                            <span class="u__hover-popup--content" style="left: 0 !important">
                                <ul class="u__hover-popup--content--list">
                                    <li>Kitchen</li>
                                    <li>Bedroom</li>
                                    <li>Toilet</li>
                                    <li>Living Room</li>
                                </ul>
                            </span>
                        </div>

                        <!-- Tabs -->
                        <div class="c__header--bot--menu--tabs u__flex-container">
                            <ul>
                                <li>
                                    <a href="/home.html" class="u__tabs--dropdown u__hover-popup">
                                        Home 
                                        <span class="u__hover-popup--content" style="left: 0 !important">
                                            <ul class="u__hover-popup--content--list">
                                                <li>Kitchen</li>
                                                <li>Bedroom</li>
                                                <li>Toilet</li>
                                                <li>Living Room</li>
                                            </ul>
                                        </span>
                                    </a>
                                </li>
                                <li><a href="/products.html">Shop</a></li>
                                <li><a href="/products.html">Interior</a></li>
                                <li><a href="/products.html">Furniture</a></li>
                                <li><a href="/products.html">Living</a></li>
                                <li><a>Blogs</a></li>
                                <li><a href="/contact.html">Contact</a></li>
                            </ul>
                        </div>
                        
                        <!-- Cart -->
                        <div class="c__header--bot--menu--cart u__hover-popup">
                            
                            <!-- Cart icon -->
                            <div class="c__header--bot--menu--cart--icon">
                                <div class="u__notif-container">
                                    <i class="lnr lnr-cart"></i>
                                    <span class="u__notif-counter">0</span>
                                </div>
                            </div>

                            <!-- Cart Amount -->
                            <div class="c__header--bot--menu--cart--amount">
                                <div class="c__header--bot--menu--cart--amount--tag">
                                    <span>My Cart</span>
                                </div>
                                <div class="c__header--bot--menu--cart--amount--value">
                                    <span>$0.00</span>
                                </div>
                            </div>
                            <span class="u__hover-popup--content">Your cart is empty.</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="c__header--mobile">

            <!-- Mobile Header -->
            <div class="c__header--mobile--wrapper u__flex-container">
                <div id="mobile-toggle" class="c__header--mobile--wrapper--tabs">
                    <i class="lnr lnr-menu"></i>
                </div>
                <div class="c__header--mobile--wrapper--logo">
                    <a href="#"><img src="/img/zigcy-furni.png" alt="Company Logo"></a>
                </div>
                <div class="c__header--mobile--wrapper--cart">
                    <div class="u__notif-container">
                        <i class="lnr lnr-cart"></i>
                        <span class="u__notif-counter">0</span>
                    </div>
                </div>
            </div>
            

            <!-- Mobile click navigation -->
            <div class="c__header--mobile--nav">
                <div id="mobile-nav" class="c__header--mobile--nav--tab">

                    <!-- Nav Logo -->
                    <div class="c__header--mobile--nav--tab--top">
                        <img src="/img/zigcy-furni.png" alt="Company Logo">
                        <i id="mobile-remove" class="lnr lnr-cross"></i>
                    </div>

                    <!-- Nav Search -->
                    <div class="c__header--mobile--nav--tab--search">
                        <form action="#" class="u__mobile--search" method="get">
                            <input type="text" class="u__mobile--search--input" placeholder="Search...">  
                            <div class="u__mobile--search--button">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </div>
                        </form>
                    </div>

                    <!-- Nav list -->
                    <div class="c__header--mobile--nav--tab--list">
                        <ul>
                            <li>Home</li>
                            <li>Shop</li>
                            <li>Interior</li>
                            <li>Furniture</li>
                            <li>Living</li>
                            <li>Blogs</li>
                            <li>Contact</li>
                        </ul>
                    </div>
                    <!-- Nav Share -->
                    <div class="u__flex-container">
                        <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        <i class="fa fa-youtube" aria-hidden="true"></i>
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </header>



    <!-- Page Header -->
    <div class="c-pageheader">
        <div class="u__responsible-container">
            <div class="c-pageheader__title">
                <h1>Shop</h1>
            </div>
            <div class="c-pageheader__trail">
                <span>Products</span>
            </div>
        </div>
    </div>


        <!-- Content -->
    <div class="u__responsible-container">
        <div class="c-content">
            <div class="c-content__primary">
                <div class="c-content__primary--single">
                    <div class="c-content__primary--single--img">
                        <img id="item1" src="/img/items/gloves/glove1-a.jpg" alt="Product">
                        <img id="item2" class="u-display__none" src="/img/items/gloves/glove1-b.jpg" alt="Product">
                    </div>
                    <div class="c-content__primary--single--alt">
                        <div id="alt1" class="c-content__primary--single--alt--img">
                            <img src="/img/items/gloves/glove1-a.jpg" alt="Product">
                        </div>
                        <div id="alt2" class="c-content__primary--single--alt--img">
                            <img src="/img/items/gloves/glove1-b.jpg" alt="Product">
                        </div>
                    </div>
                </div>
                <div class="c-content__primary--single">
                    <div class="c-content__primary--single--info">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus illum iusto sequi veniam provident molestias labore necessitatibus ullam deleniti, reprehenderit dolorum voluptates esse quae qui vero sit animi obcaecati voluptas?</p>
                        <p>Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit at sint, voluptatum iure veritatis, libero corporis quia recusandae dolorum deserunt facere incidunt explicabo. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias qui, nobis tempore est autem dolor amet, dolore non iste harum mollitia reprehenderit modi maxime voluptatum quos necessitatibus assumenda. Provident, id? voluptas?</p>
                        <p></p>
                    </div>
                    <p class="c-content__primary--single--price">$150.00</p>
                    <form action="/" method="post" class="u-tocart">
                        <div class="u-tocart__buttons">
                            <input type="number" step="1" min="1" max="" inputmode="numeric" value="1" title="Qty">
                            <a href="" class="u-tocart__buttons--plus">
                                +
                            </a>
                            <a href="" class="u-tocart__buttons--minus">
                                -
                            </a>
                        </div>
                        <button>Add to cart</button>
                        <div class="u-tocart__fav">
                            <i class="lnr lnr-heart"></i>
                        </div>
                        <div class="u-tocart__fav">
                            <i class="lnr lnr-sync"></i>
                        </div>
                    </form>
                    <div class="c-content__primary--single--category">
                        <span>Category: <a href="/">Interior</a></span>
                    </div>
                    <div class="c-content__primary--single--share">
                        <span>Share: </span>
                        <ul>
                            <li>
                                <a href="" class="u-sharebutton u-facebookshare">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="" class="u-sharebutton u-twittershare">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="" class="u-sharebutton u-googleshare">
                                    <i class="fa fa-google" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="c-content__primary--desc">
                    <h2>Description</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione, distinctio repellat incidunt similique sapiente enim dolores placeat perferendis minus cupiditate ducimus autem, facilis neque? In enim repellendus mollitia suscipit voluptatum. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure nam blanditiis minus nulla, incidunt sapiente ad iste sit, libero quidem dolore, maiores cum perspiciatis numquam itaque deserunt reiciendis! A, consectetur?</p>
                    <ul>
                        <li>lorem</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, ex consectetur voluptatibus cumque voluptate in veniam veritatis velit qui et delectus rerum excepturi aut autem praesentium, expedita adipisci, pariatur magni.</li>
                    </ul>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, earum sunt. Quae magnam voluptate, dolorem consectetur voluptatum molestiae animi non possimus in illo quidem dolores debitis porro enim eum adipisci!</p>
                </div>
                <section class="c-content__primary--related">
                    <h2>Related Products</h2>
                    <ul class="c-content__primary--related--products">
                        <li>
                            <div class="u__card">
                                <div class="u__card--content">
                                    <div class="u__card--content--image">
                                        <img src="/img/items/gloves/glove2-a.jpg" alt="">
                                    </div>
                                    <div class="u__card--content--hoverimg">
                                        <img src="/img/items/gloves/glove2-b.jpg" alt="">
                                    </div>
                                    <div class="u__hover--compare">
                                        <div class="u__hover--compare--box">
                                            <i class="lnr lnr-heart"></i>
                                        </div>
                                        <div class="u__hover--compare--box">
                                            <i class="lnr lnr-sync"></i>
                                        </div>
                                    </div>
                                    <div class="u__hover--cart">
                                        <a href="">Add to cart</a>
                                        <a href="">Quick view</a>
                                    </div>
                                </div>
                                <div class="u__card--info">
                                    <div class="u__card--info--name">
                                        <span>Comfortable Sofa</span>
                                    </div>
                                    <div class="u__card--info--price">
                                        <span>$450</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="u__card">
                                <div class="u__card--content">
                                    <div class="u__card--content--image">
                                        <img src="/img/items/gloves/glove2-a.jpg" alt="">
                                    </div>
                                    <div class="u__card--content--hoverimg">
                                        <img src="/img/items/gloves/glove2-b.jpg" alt="">
                                    </div>
                                    <div class="u__hover--compare">
                                        <div class="u__hover--compare--box">
                                            <i class="lnr lnr-heart"></i>
                                        </div>
                                        <div class="u__hover--compare--box">
                                            <i class="lnr lnr-sync"></i>
                                        </div>
                                    </div>
                                    <div class="u__hover--cart">
                                        <a href="">Add to cart</a>
                                        <a href="">Quick view</a>
                                    </div>
                                </div>
                                <div class="u__card--info">
                                    <div class="u__card--info--name">
                                        <span>Comfortable Sofa</span>
                                    </div>
                                    <div class="u__card--info--price">
                                        <span>$450</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="u__card">
                                <div class="u__card--content">
                                    <div class="u__card--content--image">
                                        <img src="/img/items/gloves/glove2-a.jpg" alt="">
                                    </div>
                                    <div class="u__card--content--hoverimg">
                                        <img src="/img/items/gloves/glove2-b.jpg" alt="">
                                    </div>
                                    <div class="u__hover--compare">
                                        <div class="u__hover--compare--box">
                                            <i class="lnr lnr-heart"></i>
                                        </div>
                                        <div class="u__hover--compare--box">
                                            <i class="lnr lnr-sync"></i>
                                        </div>
                                    </div>
                                    <div class="u__hover--cart">
                                        <a href="">Add to cart</a>
                                        <a href="">Quick view</a>
                                    </div>
                                </div>
                                <div class="u__card--info">
                                    <div class="u__card--info--name">
                                        <span>Comfortable Sofa</span>
                                    </div>
                                    <div class="u__card--info--price">
                                        <span>$450</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </section>
            </div>
            <div class="c-content__secondary">
                <div class="c-content__secondary--search">
                    <form action="#" class="u__mobile--search" method="get">
                        <input type="text" class="u__mobile--search--input" placeholder="Search products...">  
                        <div class="u__mobile--search--button">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </div>
                    </form>
                </div>
                <div class="c-content__secondary--products">
                    <h2>Products</h2>
                    <ul>
                        <li>
                            <a href="/" class="u-smallitem">
                                <img src="/img/items/gloves/glove1-a.jpg" alt="Product">
                                <span class="u-smallitem__title">Burgandi Fruit</span>
                                <span class="u-smallitem__amount">$236.00</span>
                            </a>
                        </li>
                        <li>
                            <a href="/" class="u-smallitem">
                                <img src="/img/items/gloves/glove1-a.jpg" alt="Product">
                                <span class="u-smallitem__title">Burgandi Fruit</span>
                                <span class="u-smallitem__amount">$236.00</span>
                            </a>
                        </li>
                        <li>
                            <a href="/" class="u-smallitem">
                                <img src="/img/items/gloves/glove1-a.jpg" alt="Product">
                                <span class="u-smallitem__title">Burgandi Fruit</span>
                                <span class="u-smallitem__amount">$236.00</span>
                            </a>
                        </li>
                        <li>
                            <a href="/" class="u-smallitem">
                                <img src="/img/items/gloves/glove1-a.jpg" alt="Product">
                                <span class="u-smallitem__title">Burgandi Fruit</span>
                                <span class="u-smallitem__amount">$236.00</span>
                            </a>
                        </li>
                        <li>
                            <a href="/" class="u-smallitem">
                                <img src="/img/items/gloves/glove1-a.jpg" alt="Product">
                                <span class="u-smallitem__title">Burgandi Fruit</span>
                                <span class="u-smallitem__amount">$236.00</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>



      <!-- Footer -->
      <footer>
        <div class="c__footer">
            <div class="c__footer--main">
                <div class="c__footer--main--widgets  u__responsible-container">
                    <div class="c__footer--main--widgets--widget1">
                        <div class="c__footer--main--widgets--widget1--info">
                            <img src="/img/zaanaa-logo.jpg" alt="Company Logo">
                            <br>
                            <br>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        </div>
                        <div class="c__footer--main--widgets--widget1--social">
                            <div class="c__footer--main--widgets--widget1--social--icons u__flex-container">
                                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                                <i class="fa fa-youtube" aria-hidden="true"></i>
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="c__footer--main--widgets--widget2">
                        <ul>
                            <li><a>Blogs</a></li>
                            <li><a>Home</li>
                            <li><a>My Account</a></li>
                            <li><a>Contact</a></li>
                            <li><a>Store Location</a></li>
                        </ul>
                    </div>
                    <div class="c__footer--main--widgets--widget3">
                        <ul>
                            <li><a>Shipping</a></li>
                            <li><a>Returns Policy</a></li>
                            <li><a>Terms & Conditions</a></li>
                            <li><a>Order Status</a></li>
                            <li><a>F.A.Qs</a></li>
                        </ul>
                    </div>
                    <div class="c__footer--main--widgets--widget4">
                        <ul>
                            <li><a>Register</a></li>
                            <li><a>Orders</a></li>
                            <li><a>Downloads</a></li>
                            <li><a>Account details</a></li>
                            <li><a>Checkout</a></li>
                        </ul>
                    </div>
                    <div class="c__footer--main--widgets--widget5">
                        <form action="#">
                            <h3>Join Our Newsletter</h3>
                            <p>Register now to get updates on promotions and coupons.</p>
                            <div class="u__emailform">
                                <input type="text" placeholder="Enter Your Email">
                                <div class="u__emailform--button">
                                    Subscribe
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="c__footer--copyright">
                <div class="u__responsible-container c__footer--copyright--info">
                    <p>© Zaanaa LLC 2020. All rights reserved</p>
                </div>
            </div>
        </div>
    </footer>


    <!-- Javascript -->
    <script src="/js/script.js"></script>

</body>
</html>