<%- include('_header', {
    link : ``
    }); %>

    <!-- Page Header -->
    <div class="c-pageheader">
        <div class="u__responsible-container">
            <div class="c-pageheader__title">
                <h1>Shop</h1>
            </div>
            <div class="c-pageheader__trail">
                <span>Products</span>
            </div>
        </div>
    </div>


        <!-- Content -->
    <div class="u__responsible-container">
        <div class="c-content">
            <div class="c-content__primary">
                <div class="c-content__primary--single">
                    <div class="c-content__primary--single--img">
                        <img id="item1" src="/img/items/gloves/glove1-a.jpg" alt="Product">
                        <img id="item2" class="u-display__none" src="/img/items/gloves/glove1-b.jpg" alt="Product">
                    </div>
                    <div class="c-content__primary--single--alt">
                        <div id="alt1" class="c-content__primary--single--alt--img">
                            <img src="/img/items/gloves/glove1-a.jpg" alt="Product">
                        </div>
                        <div id="alt2" class="c-content__primary--single--alt--img">
                            <img src="/img/items/gloves/glove1-b.jpg" alt="Product">
                        </div>
                    </div>
                </div>
                <div class="c-content__primary--single">
                    <div class="c-content__primary--single--info">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus illum iusto sequi veniam provident molestias labore necessitatibus ullam deleniti, reprehenderit dolorum voluptates esse quae qui vero sit animi obcaecati voluptas?</p>
                        <p>Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit at sint, voluptatum iure veritatis, libero corporis quia recusandae dolorum deserunt facere incidunt explicabo. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias qui, nobis tempore est autem dolor amet, dolore non iste harum mollitia reprehenderit modi maxime voluptatum quos necessitatibus assumenda. Provident, id? voluptas?</p>
                        <p></p>
                    </div>
                    <p class="c-content__primary--single--price">$150.00</p>
                    <form action="/" method="post" class="u-tocart">
                        <div class="u-tocart__buttons">
                            <input type="number" step="1" min="1" max="" inputmode="numeric" value="1" title="Qty">
                            <a href="" class="u-tocart__buttons--plus">
                                +
                            </a>
                            <a href="" class="u-tocart__buttons--minus">
                                -
                            </a>
                        </div>
                        <button>Add to cart</button>
                        <div class="u-tocart__fav">
                            <i class="lnr lnr-heart"></i>
                        </div>
                        <div class="u-tocart__fav">
                            <i class="lnr lnr-sync"></i>
                        </div>
                    </form>
                    <div class="c-content__primary--single--category">
                        <span>Category: <a href="/">Interior</a></span>
                    </div>
                    <div class="c-content__primary--single--share">
                        <span>Share: </span>
                        <ul>
                            <li>
                                <a href="" class="u-sharebutton u-facebookshare">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="" class="u-sharebutton u-twittershare">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="" class="u-sharebutton u-googleshare">
                                    <i class="fa fa-google" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="c-content__primary--desc">
                    <h2>Description</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione, distinctio repellat incidunt similique sapiente enim dolores placeat perferendis minus cupiditate ducimus autem, facilis neque? In enim repellendus mollitia suscipit voluptatum. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure nam blanditiis minus nulla, incidunt sapiente ad iste sit, libero quidem dolore, maiores cum perspiciatis numquam itaque deserunt reiciendis! A, consectetur?</p>
                    <ul>
                        <li>lorem</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, ex consectetur voluptatibus cumque voluptate in veniam veritatis velit qui et delectus rerum excepturi aut autem praesentium, expedita adipisci, pariatur magni.</li>
                    </ul>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, earum sunt. Quae magnam voluptate, dolorem consectetur voluptatum molestiae animi non possimus in illo quidem dolores debitis porro enim eum adipisci!</p>
                </div>
                <section class="c-content__primary--related">
                    <h2>Related Products</h2>
                    <ul class="c-content__primary--related--products">
                        <li>
                            <div class="u__card">
                                <div class="u__card--content">
                                    <div class="u__card--content--image">
                                        <img src="/img/items/gloves/glove2-a.jpg" alt="">
                                    </div>
                                    <div class="u__card--content--hoverimg">
                                        <img src="/img/items/gloves/glove2-b.jpg" alt="">
                                    </div>
                                    <div class="u__hover--compare">
                                        <div class="u__hover--compare--box">
                                            <i class="lnr lnr-heart"></i>
                                        </div>
                                        <div class="u__hover--compare--box">
                                            <i class="lnr lnr-sync"></i>
                                        </div>
                                    </div>
                                    <div class="u__hover--cart">
                                        <a href="">Add to cart</a>
                                        <a href="">Quick view</a>
                                    </div>
                                </div>
                                <div class="u__card--info">
                                    <div class="u__card--info--name">
                                        <span>Comfortable Sofa</span>
                                    </div>
                                    <div class="u__card--info--price">
                                        <span>$450</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="u__card">
                                <div class="u__card--content">
                                    <div class="u__card--content--image">
                                        <img src="/img/items/gloves/glove2-a.jpg" alt="">
                                    </div>
                                    <div class="u__card--content--hoverimg">
                                        <img src="/img/items/gloves/glove2-b.jpg" alt="">
                                    </div>
                                    <div class="u__hover--compare">
                                        <div class="u__hover--compare--box">
                                            <i class="lnr lnr-heart"></i>
                                        </div>
                                        <div class="u__hover--compare--box">
                                            <i class="lnr lnr-sync"></i>
                                        </div>
                                    </div>
                                    <div class="u__hover--cart">
                                        <a href="">Add to cart</a>
                                        <a href="">Quick view</a>
                                    </div>
                                </div>
                                <div class="u__card--info">
                                    <div class="u__card--info--name">
                                        <span>Comfortable Sofa</span>
                                    </div>
                                    <div class="u__card--info--price">
                                        <span>$450</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="u__card">
                                <div class="u__card--content">
                                    <div class="u__card--content--image">
                                        <img src="/img/items/gloves/glove2-a.jpg" alt="">
                                    </div>
                                    <div class="u__card--content--hoverimg">
                                        <img src="/img/items/gloves/glove2-b.jpg" alt="">
                                    </div>
                                    <div class="u__hover--compare">
                                        <div class="u__hover--compare--box">
                                            <i class="lnr lnr-heart"></i>
                                        </div>
                                        <div class="u__hover--compare--box">
                                            <i class="lnr lnr-sync"></i>
                                        </div>
                                    </div>
                                    <div class="u__hover--cart">
                                        <a href="">Add to cart</a>
                                        <a href="">Quick view</a>
                                    </div>
                                </div>
                                <div class="u__card--info">
                                    <div class="u__card--info--name">
                                        <span>Comfortable Sofa</span>
                                    </div>
                                    <div class="u__card--info--price">
                                        <span>$450</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </section>
            </div>
            <div class="c-content__secondary">
                <div class="c-content__secondary--search">
                    <form action="#" class="u__mobile--search" method="get">
                        <input type="text" class="u__mobile--search--input" placeholder="Search products...">  
                        <div class="u__mobile--search--button">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </div>
                    </form>
                </div>
                <div class="c-content__secondary--products">
                    <h2>Products</h2>
                    <ul>
                        <li>
                            <a href="/" class="u-smallitem">
                                <img src="/img/items/gloves/glove1-a.jpg" alt="Product">
                                <span class="u-smallitem__title">Burgandi Fruit</span>
                                <span class="u-smallitem__amount">$236.00</span>
                            </a>
                        </li>
                        <li>
                            <a href="/" class="u-smallitem">
                                <img src="/img/items/gloves/glove1-a.jpg" alt="Product">
                                <span class="u-smallitem__title">Burgandi Fruit</span>
                                <span class="u-smallitem__amount">$236.00</span>
                            </a>
                        </li>
                        <li>
                            <a href="/" class="u-smallitem">
                                <img src="/img/items/gloves/glove1-a.jpg" alt="Product">
                                <span class="u-smallitem__title">Burgandi Fruit</span>
                                <span class="u-smallitem__amount">$236.00</span>
                            </a>
                        </li>
                        <li>
                            <a href="/" class="u-smallitem">
                                <img src="/img/items/gloves/glove1-a.jpg" alt="Product">
                                <span class="u-smallitem__title">Burgandi Fruit</span>
                                <span class="u-smallitem__amount">$236.00</span>
                            </a>
                        </li>
                        <li>
                            <a href="/" class="u-smallitem">
                                <img src="/img/items/gloves/glove1-a.jpg" alt="Product">
                                <span class="u-smallitem__title">Burgandi Fruit</span>
                                <span class="u-smallitem__amount">$236.00</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>



<%- include('_footer', {
  jsScripts : `
    <script src="/js/script.js"></script>

	      `
}); %>
