html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
  box-sizing: border-box; }

body {
  line-height: 1;
  box-sizing: border-box; }

ol, ul {
  list-style: none;
  box-sizing: border-box; }

blockquote, q {
  quotes: none;
  box-sizing: border-box; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
  box-sizing: border-box; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  box-sizing: border-box; }

input, a {
  box-sizing: border-box;
  text-decoration: none; }

/* CSS reset ends here */
html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Poppins, sans-serif !important;
  line-height: unset;
  box-sizing: border-box;
  list-style: none; }

.u-opacity__full {
  opacity: 1 !important; }

.u-display__none {
  display: none; }

.u-display__block {
  display: block; }

.u__card {
  width: 100%; }
  .u__card--content {
    position: relative;
    top: 0;
    width: 100%;
    padding-top: 100%;
    overflow: hidden; }
    .u__card--content--image {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: hidden; }
      .u__card--content--image img {
        object-fit: cover;
        width: 100%;
        height: 100%; }
    .u__card--content--hoverimg {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      opacity: 0;
      visibility: hidden;
      transition: ease .4s; }
      .u__card--content--hoverimg img {
        object-fit: cover;
        width: 100%;
        height: 100%; }
  .u__card--info--name {
    font-size: 18px;
    font-weight: 500;
    padding: 18px 0 0;
    transition: ease-in-out .25s; }
  .u__card--info--name:hover {
    color: #d600d6;
    cursor: pointer;
    transition: ease-in-out .25s; }
  .u__card--info--price {
    font-size: 16px;
    font-weight: 400;
    color: #818181;
    margin-bottom: 0; }
  .u__card--content:hover {
    cursor: pointer; }

.u__hover--compare {
  position: absolute;
  top: 5px;
  right: 0;
  z-index: 9;
  font-size: 12px;
  width: 40px;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transform: translateX(30px);
  transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1); }
  .u__hover--compare--box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: white;
    color: black;
    margin: 2px 0px 5px -7px;
    transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1); }
    .u__hover--compare--box i {
      font-size: 24px;
      transition: color .2s,background .3s; }
  .u__hover--compare--box:hover {
    background-color: #d600d6;
    color: white;
    cursor: pointer; }

.u__hover--cart {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(100%);
  visibility: hidden;
  opacity: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1); }
  .u__hover--cart a {
    text-decoration: none;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    background: #333;
    cursor: pointer;
    border-radius: 0;
    color: #fff;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    width: 49.5%;
    text-align: center;
    transition: color .2s,background .3s; }
  .u__hover--cart a:hover {
    background: #d600d6; }

.u__card:hover .u__hover--compare,
.u__card:hover .u__hover--cart,
.u__card:hover .u__card--content--hoverimg,
.u__card:focus .u__hover--compare,
.u__card:focus .u__hover--cart,
.u__card:focus .u__card--content--hoverimg {
  visibility: visible;
  opacity: 1;
  transform: translate(0);
  cursor: pointer; }

.u-tocart {
  display: flex;
  align-items: center; }
  .u-tocart__buttons {
    position: relative;
    height: 44px;
    width: 44px;
    line-height: 44px;
    float: left;
    margin: 0 4px 0 0; }
    .u-tocart__buttons input {
      display: block;
      height: 44px;
      width: 44px;
      line-height: 44px;
      text-align: center;
      border: 1px solid #d9d9d9;
      -webkit-border-radius: 0;
      border-radius: 0;
      -webkit-appearance: none !important;
      -moz-appearance: none !important;
      -moz-appearance: textfield !important; }
    .u-tocart__buttons--plus {
      position: absolute;
      top: 0;
      left: 100%;
      margin-left: 7px;
      height: 22px;
      width: 22px;
      line-height: 22px;
      text-align: center;
      border: 1px solid #d9d9d9;
      color: #404040;
      text-decoration: none;
      -webkit-transition: all ease .3s;
      -moz-transition: all ease .3s;
      -ms-transition: all ease .3s;
      -o-transition: all ease .3s;
      transition: all ease .3s; }
    .u-tocart__buttons--minus {
      position: absolute;
      bottom: 0;
      left: 100%;
      margin-left: 7px;
      height: 23px;
      width: 22px;
      line-height: 22px;
      text-align: center;
      border: 1px solid #d9d9d9;
      color: #404040;
      text-decoration: none;
      -webkit-transition: all ease .3s;
      -moz-transition: all ease .3s;
      -ms-transition: all ease .3s;
      -o-transition: all ease .3s;
      transition: all ease .3s; }
  .u-tocart button {
    color: white;
    margin-left: 32px;
    font-size: 13px;
    height: 44px;
    line-height: 44px;
    padding: 0 35px;
    background-color: #000;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-weight: 400;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-transform: uppercase;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
    border: none; }
  .u-tocart__fav {
    display: flex;
    height: 44px;
    width: 44px;
    margin-left: 3px;
    margin-top: 0;
    position: relative;
    vertical-align: middle;
    border: 1px solid #d9d9d9; }
    .u-tocart__fav i {
      margin: auto;
      font-size: 22px; }

.c-content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 60px 0;
  font-size: 14px; }
  .c-content__primary {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 68%;
    order: 1;
    padding-right: 20px; }
    .c-content__primary--header {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -webkit-box-align: center;
      align-items: center;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      padding: 15px;
      border: 1px solid #eee;
      -webkit-border-radius: 0;
      border-radius: 0;
      margin-bottom: 40px;
      margin-top: 2px; }
      .c-content__primary--header span {
        font-size: 16px;
        font-weight: 600; }
    .c-content__primary--products {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -ms-flex-align: start;
      -webkit-align-items: flex-start;
      -webkit-box-align: start;
      align-items: flex-start;
      -webkit-justify-content: flex-start;
      justify-content: flex-start;
      margin-bottom: 16px; }
      .c-content__primary--products li {
        width: 32%;
        margin-right: 2%;
        margin-bottom: 50px;
        transition: ease-in-out .2s; }
      .c-content__primary--products li:nth-child(3n) {
        margin-right: 0; }
      @media screen and (max-width: 1024px) {
        .c-content__primary--products li:nth-child(3n) {
          margin-right: 2%; }
        .c-content__primary--products li {
          width: 49%; }
        .c-content__primary--products li:nth-child(even) {
          margin-right: 0; } }
      @media screen and (max-width: 600px) {
        .c-content__primary--products li {
          width: 100%;
          margin-right: 0; } }
    .c-content__primary--pagination {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -webkit-box-align: center;
      align-items: center;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      padding: 20px;
      border: 1px solid #eee; }
      .c-content__primary--pagination p {
        font-size: 16px;
        font-weight: 600;
        color: #121212; }
    @media screen and (max-width: 450px) {
      .c-content__primary--header, .c-content__primary--pagination {
        justify-content: center; }
        .c-content__primary--header span, .c-content__primary--header p, .c-content__primary--pagination span, .c-content__primary--pagination p {
          margin-bottom: 12px; } }
    .c-content__primary--single {
      width: 48%; }
      .c-content__primary--single--img {
        position: relative;
        width: 100%;
        padding-top: 100%; }
        .c-content__primary--single--img img {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          object-fit: cover; }
      .c-content__primary--single--alt {
        display: flex;
        width: 100%;
        margin-top: 10px; }
        .c-content__primary--single--alt--img {
          position: relative;
          width: 25%;
          padding-top: 25%;
          opacity: 0.5; }
          .c-content__primary--single--alt--img img {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover; }
        .c-content__primary--single--alt--img:hover {
          cursor: pointer; }
      .c-content__primary--single--img:hover {
        cursor: pointer; }
      .c-content__primary--single--info {
        color: #404040;
        font-size: 16px;
        line-height: 1.875;
        text-align: left; }
        .c-content__primary--single--info p {
          margin-bottom: 1.5em; }
      .c-content__primary--single--price {
        color: #000;
        font-size: 32px;
        font-weight: 500;
        margin: 30px 0 20px;
        border-bottom: solid 1px #eee;
        padding-bottom: 30px; }
      .c-content__primary--single--category {
        display: block;
        margin: 20px 0;
        padding: 20px 0;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee; }
        .c-content__primary--single--category span {
          font-size: 14px;
          color: #666;
          display: block; }
          .c-content__primary--single--category span a {
            text-decoration: none;
            color: #aaa;
            -webkit-transition: all ease .3s;
            -moz-transition: all ease .3s;
            -ms-transition: all ease .3s;
            -o-transition: all ease .3s;
            transition: all ease .3s; }
          .c-content__primary--single--category span a:hover {
            color: #d600d6;
            transition: all ease .3s; }
      .c-content__primary--single--share span {
        font-size: 14px;
        color: #666;
        margin-right: 10px; }
      .c-content__primary--single--share ul {
        padding: 0;
        margin: 0;
        display: inline-block; }
        .c-content__primary--single--share ul li {
          font-size: 16px;
          margin-bottom: 8px;
          color: #535353;
          list-style: none;
          display: inline-block;
          margin-right: 5px; }
    @media screen and (max-width: 1024px) {
      .c-content__primary--single {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px; } }
    .c-content__primary--desc {
      margin-top: 60px;
      padding-top: 15px;
      border-top: 2px solid #eee; }
      .c-content__primary--desc h2 {
        margin-bottom: 10px;
        margin-top: 15px;
        font-size: 24px;
        font-weight: 600; }
      .c-content__primary--desc p {
        color: #444444;
        font-size: 16px;
        line-height: 1.875;
        text-align: left;
        margin-bottom: 1.5em; }
      .c-content__primary--desc ul {
        list-style: disc;
        margin: 1em 0 0 1em; }
        .c-content__primary--desc ul li {
          font-size: 16px;
          margin-bottom: 8px;
          color: #535353; }
    .c-content__primary--related {
      width: 100%; }
      .c-content__primary--related h2 {
        margin-bottom: 30px;
        margin-top: 15px;
        font-size: 24px;
        font-weight: 600; }
      .c-content__primary--related--products {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: start;
        -webkit-align-items: flex-start;
        -webkit-box-align: start;
        align-items: flex-start;
        -webkit-justify-content: flex-start;
        justify-content: flex-start; }
        .c-content__primary--related--products li {
          width: 32%;
          margin-right: 2%;
          margin-bottom: 5%; }
        .c-content__primary--related--products li:last-child {
          margin-right: 0; }
        @media screen and (max-width: 600px) {
          .c-content__primary--related--products li {
            width: 100%;
            margin-right: 0; } }
  .c-content__secondary {
    width: 32%;
    order: 2;
    padding-left: 20px; }
    .c-content__secondary--search {
      position: relative;
      margin-bottom: 40px;
      border: 1px solid #eee;
      padding: 30px;
      font-size: 14px; }
    .c-content__secondary--products {
      border: 1px solid #eee;
      padding: 30px;
      font-size: 14px; }
      .c-content__secondary--products h2 {
        font-size: 20px;
        font-weight: 600;
        color: #1a1a1a;
        display: block;
        margin-top: 0;
        margin-bottom: 30px;
        text-transform: capitalize;
        position: relative;
        padding-left: 15px; }
      .c-content__secondary--products h2::before {
        position: absolute;
        content: "";
        top: 5px;
        left: 0;
        width: 3px;
        height: 20px;
        background: #d600d6; }
      .c-content__secondary--products ul li {
        box-sizing: border-box;
        font-size: 16px;
        font-weight: 400;
        color: #444;
        margin-bottom: 20px;
        padding-top: 4px;
        padding-bottom: 20px;
        border-bottom: 1px solid #eee;
        list-style: none;
        height: 104px; }
      .c-content__secondary--products ul li:last-child {
        padding-bottom: 0;
        border-bottom: none;
        margin-bottom: 0pc; }
  @media screen and (max-width: 992px) {
    .c-content__primary {
      padding-right: 5px; }
    .c-content__secondary {
      padding-left: 5px; } }
  @media screen and (max-width: 768px) {
    .c-content__primary {
      max-width: 100%;
      width: 100%;
      padding-right: 0;
      margin-bottom: 30px; }
    .c-content__secondary {
      max-width: 100%;
      width: 100%;
      padding-left: 0; } }
  .c-content__contact {
    width: 100%;
    display: flex;
    flex-wrap: wrap; }
    .c-content__contact--left {
      width: 40%;
      box-sizing: border-box;
      padding-left: 25px;
      padding-right: 25px; }
      .c-content__contact--left h3 {
        margin-bottom: 10px;
        margin-top: 15px;
        font-family: 'Poppins';
        font-size: 26px;
        color: #333;
        font-weight: 600;
        text-transform: uppercase; }
      .c-content__contact--left p {
        font-size: 16px;
        line-height: 1.875;
        text-align: left;
        font-weight: 300;
        margin: 10px 0;
        color: #404040;
        font-family: 'Poppins'; }
      .c-content__contact--left strong {
        font-weight: 600;
        text-transform: uppercase; }
    .c-content__contact--right {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 60%;
      padding-left: 25px;
      padding-right: 25px;
      margin-top: 25px; }
      .c-content__contact--right--half {
        width: 46%; }
      @media screen and (max-width: 600px) {
        .c-content__contact--right--half {
          width: 100%; } }
      .c-content__contact--right--full {
        width: 100%; }
      .c-content__contact--right input {
        height: 45px;
        line-height: 45px;
        padding: 0 12px;
        border-radius: 0;
        border: 1px solid #e0e0e0;
        transition: all ease .35s;
        font-family: 'Poppins';
        color: #696969;
        font-size: 14px;
        margin-bottom: 10px; }
      .c-content__contact--right textarea {
        height: 200px;
        line-height: 45px;
        padding: 0 15px;
        border-radius: 0;
        border: 1px solid #e0e0e0;
        transition: all ease .35s;
        font-family: 'Poppins';
        color: #696969;
        font-size: 14px;
        margin-bottom: 10px; }
      .c-content__contact--right button {
        height: 45px;
        line-height: 45px;
        width: 100%;
        margin-bottom: 30px;
        -webkit-border-radius: 0;
        border-radius: 0;
        text-transform: uppercase;
        background: #000;
        color: #fff;
        font-size: 16px;
        padding: 0;
        font-weight: 500;
        border: none;
        margin-bottom: 10px; }
      .c-content__contact--right button:hover {
        cursor: pointer;
        background: rgba(0, 0, 0, 0.87); }
    @media screen and (max-width: 992px) {
      .c-content__contact--left {
        width: 100%; }
      .c-content__contact--right {
        width: 100%; } }

.c-featured__title {
  margin-top: 80px;
  text-align: center; }
  .c-featured__title h6 {
    font-size: 16px;
    letter-spacing: 0px;
    font-weight: 400;
    text-transform: uppercase;
    color: #989898;
    margin: 0 0 5px; }
  .c-featured__title h3 {
    color: #222;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: -.5px;
    text-transform: capitalize;
    margin: 0 0 50px; }

.c-featured__items {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start; }
  .c-featured__items--item {
    display: block;
    width: 23%;
    margin-right: 2.666%;
    position: relative;
    margin-bottom: 50px;
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .c-featured__items--item:nth-child(4n) {
    margin-right: 0; }
  @media screen and (max-width: 1024px) {
    .c-featured__items--item:nth-child(4n) {
      margin-right: 2%; }
    .c-featured__items--item {
      width: 32%;
      margin-right: 2%; }
    .c-featured__items--item:nth-child(3n) {
      margin-right: 0; } }
  @media screen and (max-width: 768px) {
    .c-featured__items--item:nth-child(3n) {
      margin-right: 2%; }
    .c-featured__items--item {
      width: 49%;
      margin-right: 2%;
      margin-bottom: 30px; }
    .c-featured__items--item:nth-child(2n) {
      margin-right: 0; } }
  @media screen and (max-width: 600px) {
    .c-featured__items--item {
      max-width: 100%;
      width: 100%;
      margin: 0 auto 30px; } }
  .c-featured__items--item2 {
    position: relative;
    width: 50%;
    padding-bottom: 26px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start; }
    .c-featured__items--item2_big {
      width: 100%; }
      .c-featured__items--item2_big .u__card--content {
        padding-top: calc(100% + 34px); }
    .c-featured__items--item2_small {
      width: 50%;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start; }
      .c-featured__items--item2_small--cell {
        width: 100%;
        padding-bottom: 25px;
        padding-left: 30px; }
      @media screen and (max-width: 768px) {
        .c-featured__items--item2_small--cell {
          padding-left: 0; } }
      .c-featured__items--item2_small--cell2 {
        width: 100%;
        padding-bottom: 25px;
        padding-right: 30px; }
      @media screen and (max-width: 768px) {
        .c-featured__items--item2_small--cell2 {
          padding-right: 0; } }
    @media screen and (max-width: 768px) {
      .c-featured__items--item2_small {
        width: 49%;
        margin-right: 2%; }
      .c-featured__items--item2_small:nth-child(even) {
        margin-right: 0; } }
    @media screen and (max-width: 600px) {
      .c-featured__items--item2_small {
        width: 100%;
        padding-bottom: 26px; }
      .c-featured__items--item2_small:nth-child(even) {
        margin-right: 0; } }
  @media screen and (max-width: 768px) {
    .c-featured__items--item2 {
      width: 100%; } }

.c__header--computer {
  display: block; }

@media screen and (max-width: 992px) {
  .c__header--computer {
    display: none; } }

.c__header--top {
  background-color: #293341;
  width: 100%; }
  .c__header--top--contact {
    font-size: 12px;
    color: white;
    padding: 10px 0; }
  .c__header--top i {
    margin: 10px;
    color: white;
    transition: ease-in-out .2s; }
  .c__header--top i:hover {
    color: #d600d6;
    cursor: pointer;
    transition: ease-in-out .2s; }

.c__header--bot {
  width: 100%; }
  .c__header--bot--top {
    padding: 20px 0; }
    .c__header--bot--top--logo img {
      width: 130px;
      height: 50px;
      object-fit: cover; }
    .c__header--bot--top--logo img:hover {
      cursor: pointer; }
    .c__header--bot--top--login--icon {
      margin: 0 16px; }
  .c__header--bot--menu {
    margin: 0;
    padding: 0; }
    .c__header--bot--menu--browse {
      display: flex;
      align-items: center;
      color: white;
      width: 220px;
      padding: 12px 16px;
      text-align: center;
      background-color: #d600d6;
      z-index: 10; }
      .c__header--bot--menu--browse i {
        font-size: 22px;
        margin-right: 12px; }
    .c__header--bot--menu--browse:hover {
      cursor: pointer; }
    .c__header--bot--menu--tabs ul {
      display: flex; }
      .c__header--bot--menu--tabs ul li {
        display: inline-block;
        list-style: none;
        font-family: Poppins, sans-serif;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        margin: 0 16px;
        color: #333;
        transition: ease-in-out .2s; }
        .c__header--bot--menu--tabs ul li a {
          text-decoration: none;
          color: inherit; }
      .c__header--bot--menu--tabs ul li:hover {
        color: #d600d6;
        cursor: pointer;
        transition: ease-in-out .2s; }
      .c__header--bot--menu--tabs ul li::after {
        content: '';
        display: block;
        width: 0;
        height: 1px;
        background: #d600d6;
        transition: width .6s; }
      .c__header--bot--menu--tabs ul li:hover::after {
        width: 100%;
        transition: ease-in-out .2s; }
    .c__header--bot--menu--cart {
      display: flex;
      align-items: center;
      font-size: 13px;
      font-weight: 400;
      transition: ease-in-out .2s; }
      .c__header--bot--menu--cart--icon {
        position: relative;
        margin-right: 10px; }
      .c__header--bot--menu--cart--amount {
        margin-left: 10px;
        font-weight: 500;
        text-align: right; }
        .c__header--bot--menu--cart--amount--tag {
          border-bottom: 1px solid #333; }
    .c__header--bot--menu--cart:hover {
      cursor: pointer;
      color: #d600d6;
      transition: ease-in-out .2s; }
      .c__header--bot--menu--cart:hover .c__header--bot--menu--cart--amount--tag {
        border-bottom: 1px solid #d600d6;
        transition: ease-in-out .2s; }

.c__header--mobile {
  display: none; }

@media screen and (max-width: 992px) {
  .c__header--mobile {
    display: block; } }

.c__header--mobile--wrapper {
  padding: 10px 25px 10px 15px; }
  .c__header--mobile--wrapper--tabs i {
    font-size: 24px;
    transition: ease-in-out .2s; }
  .c__header--mobile--wrapper--tabs i:hover {
    color: #d600d6;
    transition: ease-in-out .2s;
    cursor: pointer; }
  .c__header--mobile--wrapper--logo a img {
    width: 140px; }

.c__header--mobile--nav--tab {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  background: #fff;
  width: 100%;
  max-width: 350px;
  height: 100vh;
  overflow: auto;
  padding: 30px 20px;
  transform: translateX(-100%);
  transition: all ease .3s .5s; }
  .c__header--mobile--nav--tab--top {
    display: flex;
    justify-content: space-between; }
    .c__header--mobile--nav--tab--top img {
      width: 140px; }
    .c__header--mobile--nav--tab--top i {
      font-size: 26px;
      cursor: pointer; }
  .c__header--mobile--nav--tab--search {
    display: block;
    margin: 30px 0; }
  .c__header--mobile--nav--tab--list ul {
    padding: 0;
    margin: 0;
    list-style: none; }
    .c__header--mobile--nav--tab--list ul li {
      display: block;
      font-size: 14px;
      margin-bottom: 20px;
      position: relative;
      transition: ease .2s; }
    .c__header--mobile--nav--tab--list ul li:first-child {
      margin-top: 15px; }
    .c__header--mobile--nav--tab--list ul li:hover {
      cursor: pointer;
      color: #d600d6;
      transition: ease .2s; }
  .c__header--mobile--nav--tab i {
    font-size: 24px;
    margin: 10px;
    color: black;
    transition: ease-in-out .2s; }
  .c__header--mobile--nav--tab i:hover {
    color: #d600d6;
    cursor: pointer;
    transition: ease-in-out .2s; }

.c__header--mobile--nav .active {
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.075);
  transform: translateX(0); }

.u-smallitem {
  display: block;
  color: #222;
  font-weight: 500;
  padding-right: 5px;
  word-break: break-all;
  transition: all ease .3s;
  text-decoration: none; }
  .u-smallitem img {
    float: left;
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 15px; }
  .u-smallitem__title {
    transition: ease-in-out .3s; }
  .u-smallitem__amount {
    display: block;
    color: #777;
    font-size: 14px; }

.u-smallitem:hover .u-smallitem__title {
  color: #d600d6;
  transition: ease-in-out .3s; }

.u-login {
  margin: auto;
  width: 60%; }
  .u-login h2 {
    text-align: center;
    font-size: 30px;
    color: #333;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 15px; }
  .u-login form {
    border: 1px solid #d3ced2;
    padding: 20px;
    margin: 2em 0;
    text-align: left;
    border-radius: 5px; }
    .u-login form .u-login__input {
      margin-bottom: 15px;
      font-size: 16px;
      line-height: 1.875;
      text-align: left;
      padding: 3px; }
      .u-login form .u-login__input label {
        font-size: 14px;
        font-weight: 500;
        display: block;
        line-height: 2; }
        .u-login form .u-login__input label span {
          color: red;
          font-weight: 700; }
      .u-login form .u-login__input input {
        height: 50px;
        line-height: 50px;
        padding: 0 10px;
        border-radius: 0;
        border: 1px solid #ddd;
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        outline: 0;
        color: #666; }
    .u-login form button {
      display: block;
      height: 50px;
      line-height: 50px;
      padding: 0 35px;
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
      color: #444;
      border: 2px solid #ddd;
      background: #fff;
      transition: all ease .3s;
      margin: auto; }
    .u-login form button:hover {
      cursor: pointer;
      transition: all ease .3s;
      color: #fff;
      background: #d600d6;
      border: 2px solid #d600d6; }
    .u-login form a {
      display: block;
      margin-top: 15px;
      text-decoration: none;
      font-size: 14px;
      color: #d600d6;
      transition: all ease .3s; }
    .u-login form a:hover {
      color: black;
      transition: all ease .3s; }

@media screen and (max-width: 992px) {
  .u-login {
    width: 80%; } }

@media screen and (max-width: 600px) {
  .u-login {
    width: 100%; } }

.u-nav {
  line-height: .8;
  text-align: center; }
  .u-nav ul {
    margin: 0;
    border: none;
    display: flex;
    white-space: nowrap;
    padding: 0;
    clear: both; }
    .u-nav ul li {
      border: none;
      background: 0 0; }
      .u-nav ul li a {
        font-weight: 500;
        font-size: 16px;
        padding: 0 15px;
        text-decoration: none;
        color: gray; }
  .u-nav_current {
    color: black !important; }

.c-pageheader {
  background-color: #f5f4f4;
  color: #121212;
  margin: 0;
  padding: 50px 0 55px;
  text-align: center;
  position: relative; }
  .c-pageheader h1 {
    font-size: 30px;
    font-weight: 600;
    display: block;
    margin-bottom: 10px;
    margin-top: 0;
    color: #121212;
    -ms-word-break: break-all;
    word-break: break-all; }
  .c-pageheader span {
    color: #d600d6;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    -ms-word-break: break-all;
    word-break: break-all; }

.u-sharebutton {
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background: #f3f3f3;
  color: #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all ease .3s;
  -moz-transition: all ease .3s;
  -ms-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s; }

.u-facebookshare {
  background: #4267b2; }

.u-twittershare {
  background: #38a1f3; }

.u-googleshare {
  background: #c33; }

.u-redirect {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999; }

.c__footer {
  display: block;
  width: 100%;
  color: #727272;
  font-size: 14px; }
  .c__footer--main {
    background-color: rgba(0, 0, 0, 0.918); }
    .c__footer--main--widgets {
      display: flex;
      padding: 60px 0 10px; }
      .c__footer--main--widgets--widget1 {
        width: 30%;
        padding-right: 50px;
        margin-bottom: 40px; }
        .c__footer--main--widgets--widget1--info {
          margin-bottom: 20px; }
          .c__footer--main--widgets--widget1--info img {
            width: 100px;
            height: 70px;
            object-fit: contain;
            cursor: pointer; }
        .c__footer--main--widgets--widget1--social--icons {
          color: white;
          width: 50%; }
          .c__footer--main--widgets--widget1--social--icons i {
            transition: ease-in-out .2s; }
          .c__footer--main--widgets--widget1--social--icons i:hover {
            color: #d600d6;
            transition: ease-in-out .2s;
            cursor: pointer; }
      .c__footer--main--widgets--widget2, .c__footer--main--widgets--widget3, .c__footer--main--widgets--widget4 {
        width: 13.3333%;
        padding-right: 20px;
        margin-bottom: 40px; }
        .c__footer--main--widgets--widget2 ul li, .c__footer--main--widgets--widget3 ul li, .c__footer--main--widgets--widget4 ul li {
          margin-bottom: 18px;
          transition: ease-in-out .2s; }
        .c__footer--main--widgets--widget2 ul li:hover, .c__footer--main--widgets--widget3 ul li:hover, .c__footer--main--widgets--widget4 ul li:hover {
          color: #d600d6;
          transition: ease-in-out .2s;
          cursor: pointer; }
      .c__footer--main--widgets--widget5 {
        width: 30%;
        padding-left: 30px;
        margin-bottom: 40px; }
        .c__footer--main--widgets--widget5 form h3 {
          color: white;
          font-size: 16px;
          font-weight: 500; }
        .c__footer--main--widgets--widget5 form p {
          padding: 20px 0; }
      @media screen and (max-width: 992px) {
        .c__footer--main--widgets--widget1 {
          order: 1;
          width: 50%;
          padding: 0; }
          .c__footer--main--widgets--widget1--info, .c__footer--main--widgets--widget1--social {
            padding: 0 15px; }
        .c__footer--main--widgets--widget2 {
          order: 3;
          width: 33.3333%;
          padding: 0; }
          .c__footer--main--widgets--widget2 ul {
            padding: 0 15px; }
        .c__footer--main--widgets--widget3 {
          order: 4;
          width: 33.3333%;
          padding: 0; }
          .c__footer--main--widgets--widget3 ul {
            padding: 0 15px; }
        .c__footer--main--widgets--widget4 {
          order: 5;
          width: 33.3333%;
          padding: 0; }
          .c__footer--main--widgets--widget4 ul {
            padding: 0 15px; }
        .c__footer--main--widgets--widget5 {
          order: 2;
          width: 50%;
          padding: 0; }
          .c__footer--main--widgets--widget5 form {
            padding: 0 15px; } }
      @media screen and (max-width: 768px) {
        .c__footer--main--widgets--widget1, .c__footer--main--widgets--widget5 {
          width: 100%; } }
      @media screen and (max-width: 450px) {
        .c__footer--main--widgets--widget2, .c__footer--main--widgets--widget3, .c__footer--main--widgets--widget4 {
          width: 100%;
          margin-bottom: 0; } }
    @media screen and (max-width: 992px) {
      .c__footer--main--widgets {
        flex-wrap: wrap; } }
  .c__footer--copyright {
    font-size: 12px;
    padding: 15px 0;
    background-color: black;
    color: white; }
  @media screen and (max-width: 992px) {
    .c__footer {
      padding: 15px; } }

.u__flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.u__flex-container2 {
  display: flex;
  justify-content: space-between; }

.u__responsible-container {
  max-width: 1400px;
  margin: auto; }

@media screen and (max-width: 1500px) {
  .u__responsible-container {
    max-width: 1300px; } }

@media screen and (max-width: 1366px) {
  .u__responsible-container {
    max-width: 1200px; } }

@media screen and (max-width: 1250px) {
  .u__responsible-container {
    padding-left: 15px;
    padding-right: 15px; } }

.u__tabs--dropdown::after {
  content: "\f107";
  font-family: fontawesome;
  margin-left: 10px; }

.u__emailform {
  display: block;
  position: relative;
  height: 45px;
  line-height: 45px;
  width: 100%;
  border: solid 1px #8a8a8a;
  border-radius: 0; }
  .u__emailform input {
    background-color: transparent;
    border: none;
    color: #727272;
    height: 45px;
    margin-left: 10px;
    font-size: 14px; }
  .u__emailform--button {
    position: absolute;
    z-index: 1;
    top: 1px;
    right: 1px;
    height: 41px;
    line-height: 41px;
    background: #d600d6;
    color: #ffff;
    appearance: none;
    border-radius: 0;
    border: none;
    padding: 0 15px;
    font-size: 14px;
    font-weight: 400;
    z-index: 1;
    transition: all ease .35s; }
  .u__emailform--button:hover {
    cursor: pointer; }

.u__hover-popup {
  position: relative;
  transition: ease-in-out .3s; }
  .u__hover-popup--content {
    visibility: hidden;
    position: absolute;
    transition: all ease-out .3s;
    color: #333;
    font-size: 14px;
    z-index: 9;
    top: calc(100% + 5px);
    padding: 2px 20px;
    line-height: 40px;
    background: #fff;
    border: 1px solid #eee;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
    transform: translateY(30%);
    opacity: 0;
    right: 0;
    width: max-content;
    transition: ease-in-out .2s; }
    .u__hover-popup--content--list {
      min-width: 250px;
      display: flex;
      flex-direction: column;
      padding: 8px 0; }
    .u__hover-popup--content--cart {
      max-height: 450px;
      height: 100%;
      min-width: 350px;
      padding: 18px 0; }
      .u__hover-popup--content--cart ul {
        list-style: none outside;
        padding: 0;
        margin: 0; }
        .u__hover-popup--content--cart ul li {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 15px;
          border-bottom: 1px solid #eee; }
          .u__hover-popup--content--cart ul li a img {
            width: 100px;
            height: 100px;
            object-fit: cover; }
          .u__hover-popup--content--cart ul li .u__hover-popup--content--cart--content {
            width: calc(100% - 100px);
            padding-left: 15px;
            position: relative; }
            .u__hover-popup--content--cart ul li .u__hover-popup--content--cart--content h4 {
              font-size: 14px;
              line-height: 1.35;
              font-weight: 500;
              margin: 0;
              color: #333;
              transition: all ease .3s; }
            .u__hover-popup--content--cart ul li .u__hover-popup--content--cart--content h4:hover {
              color: #d600d6;
              transition: all ease .3s; }
            .u__hover-popup--content--cart ul li .u__hover-popup--content--cart--content span {
              position: relative;
              font-size: 14px;
              color: #999;
              padding-right: 20px; }
              .u__hover-popup--content--cart ul li .u__hover-popup--content--cart--content span .u__hover-popup--content--cart--content--price {
                color: #777;
                display: inline; }
            .u__hover-popup--content--cart ul li .u__hover-popup--content--cart--content a {
              position: absolute;
              top: 50%;
              right: 0;
              left: auto;
              font-size: 16px;
              transform: translateY(-50%);
              color: #d600d6;
              text-decoration: none;
              transition: ease .2s; }
            .u__hover-popup--content--cart ul li .u__hover-popup--content--cart--content a:hover {
              color: black;
              transition: ease .2s; }
        .u__hover-popup--content--cart ul li:last-child {
          padding-bottom: 0;
          margin-bottom: 0; }
      .u__hover-popup--content--cart--subtotal {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        color: #333;
        font-weight: 500; }
      .u__hover-popup--content--cart--buttons {
        display: flex;
        width: 100%;
        margin-bottom: 15px; }
        .u__hover-popup--content--cart--buttons a {
          text-decoration: none; }
        .u__hover-popup--content--cart--buttons .checkout-button {
          text-decoration: none;
          border-radius: 0;
          font-size: 14px;
          font-weight: 400;
          width: 49%;
          text-align: center;
          padding: 0 15px;
          line-height: 40px;
          float: left;
          margin: 0;
          position: relative;
          background: black;
          color: white; }
        .u__hover-popup--content--cart--buttons .view-button {
          text-decoration: none;
          border-radius: 0;
          font-size: 14px;
          font-weight: 400;
          width: 49%;
          text-align: center;
          padding: 0 15px;
          line-height: 40px;
          float: left;
          margin: 0;
          position: relative;
          color: white;
          background: #d600d6;
          margin-right: 2%; }
        .u__hover-popup--content--cart--buttons .checkout-button:hover {
          background-color: #1a1a1a; }
        .u__hover-popup--content--cart--buttons .view-button:hover {
          background-color: #ff0aff; }
  .u__hover-popup--dropdown {
    visibility: hidden;
    position: absolute;
    transition: all ease-out .3s;
    color: #333;
    z-index: 9;
    font-size: 14px;
    top: 100%;
    padding: 2px 20px;
    line-height: 40px;
    background: #fff;
    border: 1px solid #eee;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
    transform: translateY(-50%);
    opacity: 0;
    right: 0;
    width: max-content;
    transition: ease-in-out .2s; }
    .u__hover-popup--dropdown--list {
      width: 180px;
      display: flex;
      flex-direction: column;
      padding: 8px 0; }
      .u__hover-popup--dropdown--list a {
        font-size: 16px;
        transition: ease .2s; }
      .u__hover-popup--dropdown--list a:hover {
        color: #d600d6;
        font-size: 18px;
        transition: ease .2s; }

.u__hover-popup:hover .u__hover-popup--content {
  visibility: visible;
  opacity: 1;
  color: #333;
  transform: translateY(0);
  transition: ease-in-out .2s; }

.u__hover-popup:hover .u__hover-popup--dropdown {
  visibility: visible;
  opacity: 1;
  color: #333;
  transform: translateY(0);
  transition: ease-in-out .3s; }

.u__mobile--search {
  position: relative;
  width: 100%;
  height: 45px; }
  .u__mobile--search--input {
    height: 45px;
    width: calc(100% - 45px);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    line-height: 45px;
    padding: 0 0 0 10px;
    border: 1px solid #eee;
    font-size: 14px;
    -webkit-border-radius: 0;
    border-radius: 0; }
  .u__mobile--search--button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    z-index: 5;
    cursor: pointer;
    background-color: #d600d6; }
    .u__mobile--search--button i {
      color: white;
      font-size: 20px; }

.u__notif-container {
  position: relative; }
  .u__notif-container i {
    font-size: 24px;
    font-weight: 100;
    display: block;
    margin-top: 2px; }
  .u__notif-container .u__notif-counter {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: white;
    background-color: #d600d6;
    opacity: 1;
    top: -4px;
    left: 14px;
    width: 20px;
    height: 20px;
    font-size: 10px;
    border-radius: 50%;
    text-align: center; }

.u__notif-container:hover {
  color: #d600d6;
  cursor: pointer; }

.u-overflowy_scroll {
  overflow-y: scroll; }

.u-orderby {
  border: none;
  background: #f7f7f7;
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-image: none;
  padding: 10px 5px;
  font-size: 13px;
  color: #a9a9a9;
  border: none;
  height: 45px;
  line-height: 45px;
  padding: 0 45px 0 15px;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  -ms-appearance: none;
  -o-appearance: none;
  background-repeat: no-repeat !important;
  background-image: url(//demo.accesspressthemes.com/zigcy/demo-one/wp-content/themes/zigcy/assets/images/down-arrow.png) !important;
  position: relative;
  background-position: right 10px center !important;
  width: 100%;
  font-size: 14px;
  color: #333; }

.u__search {
  display: flex;
  align-items: center;
  height: 45px;
  border: 2px solid #ddd;
  font-size: 14px; }
  .u__search--categories {
    padding: 0 24px;
    border-right: 1px solid #293341; }
    .u__search--categories .u__tabs--dropdown::after {
      margin-left: 30px; }
  .u__search--type {
    display: flex;
    align-items: center;
    position: relative;
    height: 45px; }
    .u__search--type input {
      font-size: 14px;
      border: none;
      margin-left: 16px;
      min-width: 350px; }
    .u__search--type button {
      position: absolute;
      border: 0;
      border-radius: 0;
      background-color: #d600d6;
      height: 45px;
      width: 45px;
      right: -2px; }
      .u__search--type button i {
        color: white;
        font-size: 20px; }
    .u__search--type button:hover {
      cursor: pointer; }

.swiper-container {
  width: 100%;
  height: 500px;
  margin-left: auto;
  margin-right: auto; }

.swiper-slide {
  position: relative;
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.slider-information {
  width: 45%;
  transform: translateY(-50%);
  text-align: start; }

@media screen and (max-width: 1280px) {
  .slider-information {
    width: 60%; } }

.slider-information h6 {
  color: #d600d6;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 14px; }

.slider-information h3 {
  font-size: 40px;
  font-weight: 800;
  line-height: 1.2; }

.slider-information h4 {
  font-weight: 500;
  margin-top: 28px; }

.slider-information button {
  background-color: #d600d6;
  border-radius: 30px;
  padding: 15px 35px;
  border: none;
  font-size: 17px;
  line-height: 17px;
  color: white;
  margin-top: 15px;
  cursor: pointer; }

.swiper-button-next,
.swiper-button-prev {
  color: white !important; }

.swiper-content {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  top: 50%; }
