 
.u__emailform{
    display: block;
    position: relative;
    height: 45px;
    line-height: 45px;
    width: 100%;
    border: solid 1px #8a8a8a;
    border-radius: 0;
    input{
        background-color: transparent;
        border: none;
        color: $footer-text-color;
        height: 45px;
        margin-left: 10px;
        font-size: 14px;
    }
    &--button{
        position: absolute;
        z-index: 1;
        top: 1px;
        right: 1px;
        height: 41px;
        line-height: 41px;
        background: $theme-color;
        color: #ffff;
        appearance: none;
        border-radius: 0;
        border: none;
        padding: 0 15px;
        font-size: 14px;
        font-weight: 400;
        z-index: 1;
        transition: all ease .35s;
    }
    &--button:hover{
        cursor: pointer;
    }
}
