.u__hover-popup{
    position: relative;
    transition: ease-in-out .3s;
    &--content{
        visibility: hidden;
        position: absolute;
        transition: all ease-out .3s;
        color: $text-color;
        font-size: 14px;
        z-index: 9;
        top: calc(100% + 5px);
        padding: 2px 20px;
        line-height: 40px;
        background: #fff;
        border: 1px solid #eee;
        box-shadow: 0px 3px 10px 0px rgba(0,0,0,.1);
        transform: translateY(30%);
        opacity: 0;
        right: 0;
        width: max-content;
        transition: ease-in-out .2s;
        &--list{
            min-width: 250px;
            display: flex;
            flex-direction: column;
            padding: 8px 0;
        }
        &--cart{
            max-height: 450px;
            height: 100%;
            min-width: 350px;
            padding: 18px 0;
            ul{
                list-style: none outside;
                padding: 0;
                margin: 0;
                li{
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 15px;
                    border-bottom: 1px solid #eee;
                    a{
                        img{
                            width: 100px;
                            height: 100px;
                            object-fit: cover;
                        }
                    }
                    .u__hover-popup--content--cart--content{
                        width: calc(100% - 100px);
                        padding-left: 15px;
                        position: relative;
                        h4{
                            font-size: 14px;
                            line-height: 1.35;
                            font-weight: 500;
                            margin: 0;
                            color: #333;
                            transition: all ease .3s;
                        }
                        h4:hover{
                            color: $theme-color;
                            transition: all ease .3s;
                        }
                        span{
                            position: relative;
                            font-size: 14px;
                            color: #999;
                            padding-right: 20px;
                            .u__hover-popup--content--cart--content--price{
                                color: #777;
                                display: inline;
                            }
                        }
                        a{
                            position: absolute;
                            top: 50%;
                            right: 0;
                            left: auto;
                            font-size: 16px;
                            transform: translateY(-50%);
                            color: $theme-color;
                            text-decoration: none;
                            transition: ease .2s;
                            color: inherit;
                        }
                        a:hover{
                            color: black;
                            transition: ease .2s;
                        }
                    }
                }
                li:last-child{
                    padding-bottom: 0;
                    margin-bottom: 0;
                }
            }
            &--subtotal{
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin-bottom: 15px;
                color: #333;
                font-weight: 500;
            }
            &--buttons{
                display: flex;
                width: 100%;
                margin-bottom: 15px;
                a{
                    text-decoration: none;
                }
                .checkout-button{
                    text-decoration: none;
                    border-radius: 0;
                    font-size: 14px;
                    font-weight: 400;
                    width: 49%;
                    text-align: center;
                    padding: 0 15px;
                    line-height: 40px;
                    float: left;
                    margin: 0;
                    position: relative;
                    background: black;
                    color: white;
                }
                .view-button{
                    text-decoration: none;
                    border-radius: 0;
                    font-size: 14px;
                    font-weight: 400;
                    width: 49%;
                    text-align: center;
                    padding: 0 15px;
                    line-height: 40px;
                    float: left;
                    margin: 0;
                    position: relative;
                    color: white;
                    background: $theme-color;
                    margin-right: 2%;
                }
                .checkout-button:hover{
                    background-color: lighten(black, 10%);
                }
                .view-button:hover{
                    background-color: lighten($theme-color, 10%);
                }
            }
        }
    }
    &--dropdown{
        visibility: hidden;
        position: absolute;
        transition: all ease-out .3s;
        color: $text-color;
        z-index: 9;
        font-size: 14px;
        top: 100%;
        padding: 2px 20px;
        line-height: 40px;
        background: #fff;
        border: 1px solid #eee;
        box-shadow: 0px 3px 10px 0px rgba(0,0,0,.1);
        transform: translateY(-50%);
        opacity: 0;
        right: 0;
        width: max-content;
        transition: ease-in-out .2s;
        &--list{
            width: 180px;
            display: flex;
            flex-direction: column;
            padding: 8px 0;
            a{
                font-size: 16px;
                transition: ease .2s;
            }
            a:hover{
                color: $theme-color;
                font-size: 18px;
                transition: ease .2s;
            }
        }
    }
}
.u__hover-popup:hover .u__hover-popup--content{
    visibility: visible;
    opacity: 1;
    color: #333;
    transform: translateY(0);
    transition: ease-in-out .2s;
}
.u__hover-popup:hover .u__hover-popup--dropdown{
    visibility: visible;
    opacity: 1;
    color: #333;
    transform: translateY(0);
    transition: ease-in-out .3s;
}
 
