 
.u-tocart{
    display: flex;
    align-items: center;
    &__buttons{
        position: relative;
        height: 44px;
        width: 44px;
        line-height: 44px;
        float: left;
        margin: 0 4px 0 0;
        input{
            display: block;
            height: 44px;
            width: 44px;
            line-height: 44px;
            text-align: center;
            border: 1px solid #d9d9d9;
            -webkit-border-radius: 0;
            border-radius: 0;
            -webkit-appearance: none !important;
            -moz-appearance: none !important;
            -moz-appearance: textfield !important;
        }
        &--plus{
            position: absolute;
            top: 0;
            left: 100%;
            margin-left: 7px;
            height: 22px;
            width: 22px;
            line-height: 22px;
            text-align: center;
            border: 1px solid #d9d9d9;
            color: #404040;
            text-decoration: none;
            -webkit-transition: all ease .3s;
            -moz-transition: all ease .3s;
            -ms-transition: all ease .3s;
            -o-transition: all ease .3s;
            transition: all ease .3s;
        }
        &--minus{
            position: absolute;
            bottom: 0;
            left: 100%;
            margin-left: 7px;
            height: 23px;
            width: 22px;
            line-height: 22px;
            text-align: center;
            border: 1px solid #d9d9d9;
            color: #404040;
            text-decoration: none;
            -webkit-transition: all ease .3s;
            -moz-transition: all ease .3s;
            -ms-transition: all ease .3s;
            -o-transition: all ease .3s;
            transition: all ease .3s;
        }
    }

    button{
        color: white;
        margin-left: 32px;
        font-size: 13px;
        height: 44px;
        line-height: 44px;
        padding: 0 35px;
        background-color: #000;
        -webkit-border-radius: 0;
        border-radius: 0;
        font-weight: 400;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        text-transform: uppercase;
        -webkit-transition: all ease .3s;
        -moz-transition: all ease .3s;
        -ms-transition: all ease .3s;
        -o-transition: all ease .3s;
        transition: all ease .3s;
        border: none;
    }

    &__fav{
        display: flex;
        height: 44px;
        width: 44px;
        margin-left: 3px;
        margin-top: 0;
        position: relative;
        vertical-align: middle;
        border: 1px solid #d9d9d9;
        i{
            margin: auto;
            font-size: 22px;
        }
    }
}


